<div class="w-1/2  border shadow-lg">
    <div class="p-3 text-slate-500">
        <p class="font-semibold text-black">New Year's Eve on the Waterfront</p>
        <p class="py-3">Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year's Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.</p>
        <p>Join us as we ring in the New Year with a dazzling display over Boston Harbor. Public viewing is free and available from the Harborwalk of these suggested viewing locations:</p>
        <ul class="list-disc px-7 py-3">
            <li>Christopher Columbus Park, North End</li>
            <li>Fan Pier, Seaport District</li>
            <li>East Boston Harborwalk</li>
        </ul>
        <p class="py-3">The show will begin promptly at midnight.</p>
        <p>Register here for a reminder and updates about the harbor fireworks and other waterfront public programs as they become available. Be the first to be notified for popular waterfront New Year's Eve public activities.</p>
    </div>
    <div class="p-3">
        <p class="font-semibold">Tags</p>
        <div class="py-2 btn-group btn-group-vertical lg:btn-group-horizontal gap-2">
        <button class="py-1 border border-slate-300 rounded-md w-28  text-2xs font-extrabold text-slate-400 shadow-lg hover:border-slate-400 hover:text-slate-500 ">Things to do in NY</button>
        <button class="py-1 border border-slate-300 rounded-md w-10 text-2xs font-extrabold text-slate-400 shadow-lg hover:border-slate-400 hover:text-slate-500 ">Party</button>
        <button class="py-1 border border-slate-300 rounded-md w-12  text-2xs font-extrabold text-slate-400 shadow-lg hover:border-slate-400 hover:text-slate-500 ">Music</button>
        </div>
    </div>
    <div class="px-3 py-2">
        <p class="font-semibold">Share with friends</p> 
    </div>
    <div class="p-3">
        <div class="btn-group gap-4">
            <button class="border border-slate-300 rounded-full hover:bg-slate-300"> <img class="w-8" src="https://cdn-icons-png.flaticon.com/512/179/179319.png" alt=""> </button>
            <button class="border border-slate-300 rounded-full hover:bg-slate-300"> <img class="w-8" src="https://cdn-icons-png.flaticon.com/512/179/179342.png" alt=""> </button>
            <button class="border border-slate-300 rounded-full hover:bg-slate-300"> <img class="w-8" src="https://cdn-icons-png.flaticon.com/512/179/179326.png" alt=""> </button>
            <button class="border border-slate-300 rounded-full hover:bg-slate-300"> <img class="w-8" src="https://cdn-icons-png.flaticon.com/512/179/179330.png" alt=""> </button>
            <button class="border border-slate-300 rounded-full hover:bg-slate-300"> <img class="w-8" src="https://cdn-icons-png.flaticon.com/512/179/179328.png" alt=""> </button>
        </div>
    </div>
    <div class="p-3">
        <iframe class="w-full h-80" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13486.25097800015!2d-78.55472765!3d-0.2844127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sec!4v1664582079312!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
