<div class="flex border shadow-xl rounded-md mt-10 w-96">
  <div class="grid p-5">
    <span class="font-semibold">Revenue</span>
    <div class="flex bg-green-300 rounded-full w-16 h-6 mt-3 justify-center self-center">
      <span class="flex text-sm text-slate-500">
      <svg xmlns="http://www.w3.org/2000/svg"  class="h-3 w-3 self-center" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg><strong>61.8%</strong>
      </span>
     </div>
  </div>
  <div class="flex">
    <span class="text-4xl self-center ml-16 text-slate-500">$82.18M</span>
  </div>
  <div>
    <div class="flex p-5">

   </div>
  </div>
</div>
