<div class="flex justify-center mt-10 card w-96 bg-base-100 border border-slate-200 drop-shadow-md rounded-sm">
<div class="border border-slate-100 rounded-sm h-auto flex flex-col w-auto">
  <div class="flex items-center bg-slate-50">
    <span class="grow font-semibold text-sm font-sans ml-4">Bandwidth Saved</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100  w-52 mr-1">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Export</a></li>
          <hr>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Remove</a></li>
      </ul>
    </div> 
  </div>
  <div class="flex justify-center mt-10">
    <div class="radial-progress text-blue-500 cursor-pointer " style="--value:93; --size:10rem; --thickness: 10px;">93%</div>
  </div>
  <div class="flex justify-center mt-4">
    <img class="h-5 w-5 mt-1" src="https://media.istockphoto.com/vectors/check-mark-icon-vector-id1217555176?b=1&k=6&m=1217555176&s=170667a&w=0&h=eTGEmkukO8uPiaUUT1sUBaTs-ZcRAUvTI3rSg1BSrkE=" alt="">
    <span class="font-semibold text-center text-lg">35.75 GB saved</span>
  </div>
  <span class="text-center">38.44 GB total bandwidth</span>
  <div class="flex justify-between p-1 bg-slate-50 mt-10">
    <select class=" select select-info select-xs w-2/5  rounded-none text-slate-600">
      <option>Last 6 Month</option>
      <option>last year</option>
      <option>last 2 year</option>
    </select>
    <a class=" link link-hover text-blue-500 items-center mr-4">Help</a>
  </div>
</div>
</div>

