<div class="bg-black">
  <div class="flex h-screen place-content-center bg-slate-100-100">
    <div class="p-6 border-r w-15">
      <ul>
        <div class="indicator">
          <span class="indicator-item badge badge-secondary">99+</span>
          <li
            class="flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
            <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
            </a>
          </li>
        </div>
        <li
          class="flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
          <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" viewBox="0 0 512 512">
              <title>Analytics</title>
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                d="M344 280l88-88M232 216l64 64M80 320l104-104" />
              <circle cx="456" cy="168" r="24" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="32" />
              <circle cx="320" cy="304" r="24" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="32" />
              <circle cx="208" cy="192" r="24" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="32" />
              <circle cx="56" cy="344" r="24" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="32" />
            </svg>
          </a>
        </li>
        <li
          class="flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
          <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" viewBox="0 0 512 512">
              <title>Chatbox</title>
              <path
                d="M408 64H104a56.16 56.16 0 00-56 56v192a56.16 56.16 0 0056 56h40v80l93.72-78.14a8 8 0 015.13-1.86H408a56.16 56.16 0 0056-56V120a56.16 56.16 0 00-56-56z"
                fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
            </svg>
          </a>
        </li>
        <li
          class=" flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
          <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" viewBox="0 0 512 512">
              <title>File Tray</title>
              <path
                d="M384 80H128c-26 0-43 14-48 40L48 272v112a48.14 48.14 0 0048 48h320a48.14 48.14 0 0048-48V272l-32-152c-5-27-23-40-48-40z"
                fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                d="M48 272h144M320 272h144M192 272a64 64 0 00128 0" />
            </svg>
          </a>
        </li>
        <li
          class="flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
          <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" viewBox="0 0 512 512">
              <title>Book</title>
              <path
                d="M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288"
                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
            </svg>
          </a>
        </li>
        <li
          class="flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
          <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" viewBox="0 0 512 512">
              <title>Cellular</title>
              <rect x="416" y="96" width="64" height="320" rx="8" ry="8" fill="none" stroke="currentColor"
                stroke-linejoin="round" stroke-width="32" />
              <rect x="288" y="176" width="64" height="240" rx="8" ry="8" fill="none" stroke="currentColor"
                stroke-linejoin="round" stroke-width="32" />
              <rect x="160" y="240" width="64" height="176" rx="8" ry="8" fill="none" stroke="currentColor"
                stroke-linejoin="round" stroke-width="32" />
              <rect x="32" y="304" width="64" height="112" rx="8" ry="8" fill="none" stroke="currentColor"
                stroke-linejoin="round" stroke-width="32" />
            </svg>
          </a>
        </li>
        <li
          class="flex mb-8 hover:bg-sky-700 active:bg-violet-700 rounded-lg focus:outline-none focus:ring focus:ring-violet-300">
          <a><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" id="home" viewBox="0 0 512 512">
              <title>Cube</title>
              <path
                d="M448 341.37V170.61A32 32 0 00432.11 143l-152-88.46a47.94 47.94 0 00-48.24 0L79.89 143A32 32 0 0064 170.61v170.76A32 32 0 0079.89 369l152 88.46a48 48 0 0048.24 0l152-88.46A32 32 0 00448 341.37z"
                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                d="M69 153.99l187 110 187-110M256 463.99v-200" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="p-2 w-auto">
      <div class="grid grid-cols-1 sm:grid-cols-3 btn-group">
        <div class="w-14">
          <li class="flex btn btn-active"><a><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
              </svg></a></li>
        </div>
        <div class="w-14">
          <li class="flex btn"><a><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg></a></li>
        </div>
        <div class="w-14">
          <li class="flex btn"><a><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 512 512">
                <title>Funnel</title>
                <path
                  d="M35.4 87.12l168.65 196.44A16.07 16.07 0 01208 294v119.32a7.93 7.93 0 005.39 7.59l80.15 26.67A7.94 7.94 0 00304 440V294a16.07 16.07 0 014-10.44L476.6 87.12A14 14 0 00466 64H46.05A14 14 0 0035.4 87.12z"
                  fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
              </svg></a></li>
        </div>
      </div>

      <h6 class="flex font-bold mb-11 mt-10">Grupos
        <div class="flex ml-52 gap-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512">
            <title>Add Circle</title>
            <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none"
              stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
              d="M256 176v160M336 256H176" />
          </svg><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512">
            <title>Copy</title>
            <rect x="128" y="128" width="336" height="336" rx="57" ry="57" fill="none" stroke="currentColor"
              stroke-linejoin="round" stroke-width="32" />
            <path d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24"
              fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          </svg><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512">
            <title>Search</title>
            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none"
              stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
              d="M338.29 338.29L448 448" />
          </svg>
        </div>
      </h6>
      <h6 class="flex font-bold mb-11">Mensajes directos
        <div class="flex ml-32 gap-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512">
            <title>Add Circle</title>
            <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none"
              stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
              d="M256 176v160M336 256H176" />
          </svg><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512">
            <title>Copy</title>
            <rect x="128" y="128" width="336" height="336" rx="57" ry="57" fill="none" stroke="currentColor"
              stroke-linejoin="round" stroke-width="32" />
            <path d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24"
              fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          </svg><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512">
            <title>Search</title>
            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none"
              stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
              d="M338.29 338.29L448 448" />
          </svg>
        </div>
      </h6>
      <div class="grid grid-cols-1 sm:grid-cols-1 bg-zinc-900 w-full h-14 rounded-md">
        <div class="flex ml-3 w-full">
          <li class="flex p-2 bg-red-600 rounded-md w-10 h-10 mt-2"><a><svg xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg></a></li>
          <span class="self-center ml-3">Luis</span>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-1 bg-zinc-900 w-full h-14 rounded-md">
        <div class="flex ml-3 w-full">
          <li class="flex p-2 bg-red-600 rounded-md w-10 h-10 mt-2"><a><svg xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg></a></li>
          <span class="self-center ml-3">Cristian</span>
        </div>
      </div>
      <div class=""></div>
      <div class="grid grid-cols-1 sm:grid-cols-1 bg-zinc-900 w-full h-14 rounded-md">
        <div class="flex ml-3 w-full">
          <li class="flex p-2 bg-red-600 rounded-md w-10 h-10 mt-2"><a><svg xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg></a></li>
          <span class="self-center ml-3">Fernando</span>
        </div>
      </div>
    </div>

    <!--- chat activo--->
    <div class="container mx-auto p-1 w-auto  bg-white">
      <!-- area nav fin---------------------------------------------------------------------------------->

      <!-- area chat inicio------------------------------------------------------------------------------>
      <div class="flex flex-col  lg:flex-row   border-black border-1 p-4  ">
        <div class="w-full bg-white text-black ">
          <div class="conversation-content italic">

            <div class="text-center text-sm p-1">
              <p>Monday, September 5 2022, 09:44</p>
            </div>

            <div class="divider "></div>

            <div class="grow text-sm p-1 ">
              "Visitor navigated to "
              <a target="_blank" href="https://sistemaagil.net/" title="https://sistemaagil.net/"
                class="grow text-xs p-1">Home | Sistema Ágil </a>
              <span class="text-xs">09:14</span>
            </div>

            <div class="divider"></div>


            <span class="grow text-xs p-1">V1661812427783575</span>

            <div class="conversation-content flex my-2">
              <span class="grow text-xs p-1">Hola</span>
              <span class="text-xs">09:14</span>
            </div>

            <div class="grow text-sm p-1 ">
              "Visitor navigated to "
              <a target="_blank" href="https://sistemaagil.net/" title="https://sistemaagil.net/"
                class="grow text-xs p-1">Home | Sistema Ágil </a>
              <span class="text-xs">09:14</span>
            </div>

            <div class="grow text-sm p-1 ">
              "Visitor navigated to "
              <a target="_blank" href="https://sistemaagil.net/" title="https://sistemaagil.net/"
                class="grow text-xs p-1">Home | Sistema Ágil </a>
              <span class="text-xs">09:14</span>
            </div>



            <div class="conversation-content flex my-2">
              <span class="grow text-xs p-1">Visitor left</span>
              <span class="text-xs">09:54</span>
            </div>

            <div class="divider "></div>

            <div class="  p-8 bg-slate-700 w-full ">
              <button class="btn btn-outline bg-white btn-xs text-black border-sky-600 rounded-sm ">CERRAR</button>
              <button class=" bg-sky-600 text-white btn-xs btn-info rounded-sm">CONVERTIR TICKET</button>
            </div>

          </div>
        </div>
        <!-- area chat fin------------------------------------------------------------------------------>

        <div class="divider lg:divider-vertical"></div>

        <div class="flex flex-col  ">
          <div class="tabs flex-nowrap  my-1  ">
            <label for=""></label>
            <a class="tab tab-bordered hover:bg-slate-200 " (click)="setActiveClass(1)"
              [class]="activeTabNumber === 1 ? 'tab-active' : '' ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white " viewBox="0 0 24 24" stroke-width="1.5"
                stroke="black" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
              </svg>
            </a>

            <a class="tab  tab-bordered hover:bg-slate-200 " (click)="setActiveClass(2)"
              [class]="activeTabNumber === 2 ? 'tab-active' : '' ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
              </svg>
            </a>

            <a class="tab tab-bordered hover:bg-slate-200 " (click)="setActiveClass(3)"
              [class]="activeTabNumber === 3 ? 'tab-active' : '' ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M7.848 8.25l1.536.887M7.848 8.25a3 3 0 11-5.196-3 3 3 0 015.196 3zm1.536.887a2.165 2.165 0 011.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 11-5.196 3 3 3 0 015.196-3zm1.536-.887a2.165 2.165 0 001.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863l2.077-1.199m0-3.328a4.323 4.323 0 012.068-1.379l5.325-1.628a4.5 4.5 0 012.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.331 4.331 0 0010.607 12m3.736 0l7.794 4.5-.802.215a4.5 4.5 0 01-2.48-.043l-5.326-1.629a4.324 4.324 0 01-2.068-1.379M14.343 12l-2.882 1.664" />
              </svg>
            </a>

            <a class="tab tab-bordered hover:bg-slate-200 " (click)="setActiveClass(4)"
              [class]="activeTabNumber === 4 ? 'tab-active' : '' ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>

            <a class="tab tab-bordered hover:bg-slate-200 " (click)="setActiveClass(5)"
              [class]="activeTabNumber === 5 ? 'tab-active' : '' ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </a>
          </div>

          <!--boton--detalles---inicio------------------------------------------------------->
          <div class=" h-full  my-2 " [class]="activeTabNumber === 1 ? 'block' : 'hidden' ">

            <div class=" flex flex-center  border-cyan-800 border w-60 h-8 p-1 my-2">
              <label class="input-group ">
                <input type="text" placeholder="V1661283265470862 " class="input input-bordered h-6 w-56 bg-white  " />
                <div class=" flex flex-center bg-green-700  p-1 h-6 w-7">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="2"
                    stroke="white" class="w-4 h-4 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                  </svg>
                </div>
              </label>
            </div>

            <div class=" flex flex-center  border-cyan-800 border w-60 h-8 p-1 my-2">
              <label class="input-group ">
                <input type="text" placeholder="Visitor email " class="input input-bordered h-6 w-56 bg-white  " />
                <div class=" flex flex-center bg-green-700  p-1 h-6 w-7">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="2"
                    stroke="white" class="w-4 h-4 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                  </svg>
                </div>
              </label>
            </div>

            <div class=" flex flex-center  border-cyan-800 border w-60 h-8 p-1 my-1 ">
              <label class="input-group  ">
                <input type="text" placeholder="Quito Ecuador " class="input input-bordered h-6 w-56 bg-white  " />
              </label>
            </div>

            <div class="divider bg-white-800"></div>
            <div>

            </div>

            <div class=" flex flex-row my-1">
              <span class=" border border-cyan-500 bg-cyan-500 rounded-lg p-1 text-xs text-white h-6 w-10 ">22:00</span>
              <span class=" text-xs text-black pl-2">chat end</span>
            </div>
            <div class=" flex flex-row my-1">
              <span class=" border border-cyan-500 bg-cyan-500 rounded-lg p-1 text-xs text-white h-6 w-10 ">22:00</span>
              <span class=" text-xs text-black pl-2 ">chat started</span>
            </div>
            <div class=" flex flex-row my-1">
              <span class=" border border-cyan-500 bg-cyan-500 rounded-lg p-1 text-xs text-white h-6 w-10 ">22:00</span>
              <span class=" text-xs text-black pl-2">Visitor navigated to Home | Sistema Ágil</span>
            </div>

            <div class="divider bg-white-800 "></div>

          </div>
          <!--boton--detalles---fin------------------------------------------------------->


          <div class="" [class]="activeTabNumber === 2 ? 'block' : 'hidden' ">
            <div class="text-center text-sm my-2">
              <img src="https://dashboard.tawk.to/_s/assets/images/kb/kb-wizard-start.svg" width="200" height="200">
              <br>
              <p class="text-sm"><b> Set up a Knowledge Base </b></p> <br>
              <p>Create your own Help Center and help <br> your customers help themselves with a free <br> hosted
                Knowledge Base.</p>
              <br>
              <button class=" bg-sky-600  btn-xs btn-info text-white text-xs">Set up Knowledge Base</button>
            </div>

          </div>
          <div class="" [class]="activeTabNumber === 3 ? 'block' : 'hidden' ">
            <input type="text" placeholder="Search " class="input input-bordered btn-sm bg-slate-50 " />
            <button class=" bg-sky-600 text-white btn-xs btn-info rounded-sm">Add</button>
          </div>
          <div class="" [class]="activeTabNumber === 4 ? 'block' : 'hidden' ">
            <div class="tabs">
              <a class="hover:bg-gray-200 tab tab-bordered text-black">Visitor (3)</a>
              <span class="grow"></span>
              <a class="hover:bg-gray-200 tab tab-bordered text-black ">Property (...)</a>
              <div class=" h-full  my-2 " [class]="activeTabNumber === 1 ? 'block' : 'hidden' "></div>

            </div>

          </div>
          <span class="grow"></span>

          <!-- iconos del footer---inicio------------------------------------------------------->
          <div class="flex flex-row justify-around my-1 ">

            <div class="border-2 p-1 hover:bg-slate-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6  ">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
              </svg>
            </div>

            <div class="border-2 p-1 hover:bg-slate-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
              </svg>
            </div>

            <div class=" border-2 p-1 hover:bg-slate-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
              </svg>
            </div>

            <div class=" border-2 p-1 hover:bg-slate-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                class="w-6 h-6  ">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            </div>
          </div>

          <div class="flex flex-row justify-around p-4">

            <div class="border-green-700 bg-green-700 border-2 p-1 hover:bg-green-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="2" stroke="white"
                class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
              </svg>
            </div>

            <div class="border-red-500 bg-rose-500 border-2 p-1 hover:bg-rose-400">
              <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="2" stroke="white"
                class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
              </svg>
            </div>
          </div>
          <!-- iconos del footrer--fin---------------------------------------------------->
        </div>

      </div>

    </div>
  </div>
