<div class="w-5/6 h-full border shadow-md">
    <div class="flex bg-slate-50 h-14 p-3">
        <span class="grow text-lg font-semibold">Events</span>
        <select class="select select-bordered select-sm w-72 max-w-xs font-semibold">
            <option selected>Select Category</option>
            <option>Healt & Wellness</option>
            <option>Business & Professional</option>
            <option>Performing & Visual Arts</option>
            <option>Science & Technology</option>
            <option>Sport & Fitness</option>
            <option>Charity & Causes</option>
            <option>Film & Nedia</option>
            <option>Fashon & Beauty</option>
            <option>Travel & Outdoor</option>
            <option>Entretainment</option>
            <option>Other</option>
          </select>
    </div>
    <div class="grid grid-cols-2 p-3">
        <div class="flex">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Crain's New York Business <span class="text-green-600 text-sm font-bold bg-green-200  w-8 h-5 rounded-lg hover:none">Free</span></span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">AID MIT</a> </span>
                    <span class="px-5 text-sm">Time: 11:00AM</span>
                    <span class="px-5 text-sm">Duration: Feb 29 - Mar 2</span>
                    <span class="px-5 text-sm text-slate-400">Place: The Liberty Warehouse,New York</span>
                    <span class="px-5 text-sm invisible">-</span>
                <hr>
            </div>
        </div>
        <div class="flex">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Film Festival</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">American Nuclear Society</a> </span>
                    <span class="px-5 text-sm">Time: 11:00AM</span>
                    <span class="px-5 text-sm">Duration: Feb 29 - Mar 2</span>
                    <span class="px-5 text-sm text-slate-400">Place: Workbar-Central Square,Cambridge</span>
                    <span class="px-5 text-sm invisible">-</span>
                <hr>
            </div>
        </div>
        <div class="flex py-4">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Newmarket Nights</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">University of Oxford</a> </span>
                    <span class="px-5 text-sm">Time: 6:00AM</span>
                    <span class="px-5 text-sm">Duration:6:00AM - 5:00PM</span>
                    <span class="px-5 text-sm text-slate-400">Place: Cambridge Boat Club, Cambridges</span>
                    <span class="px-5 text-sm invisible">-</span>
                <hr>
            </div>
        </div>
        <div class="flex py-4">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">31st Night Celebration</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">Chamber Music Society</a> </span>
                    <span class="px-5 text-sm">Time: 11:00AM</span>
                    <span class="px-5 text-sm">280 people interested</span>
                    <span class="px-5 text-sm text-slate-400">Place: Tavern on the Greend, New York</span>
                    <span class="px-5 text-sm invisible">-</span>
                <hr>
            </div>
        </div>
        <div class="flex py-3">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Folk Festival</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">Harvard University</a> </span>
                    <span class="px-5 text-sm">Time: 9:00AM</span>
                    <span class="px-5 text-sm">Location: Cambridge Masonic Association</span>
                    <span class="px-5 text-sm text-slate-400">Place: Porter Square, North Cambridge</span>
                    <span class="px-5 text-sm invisible">-</span>
                <hr>
            </div>
        </div>
    </div>
</div>

<!--diseño del free con position <button class="absolute ml-60 mt-2 bg-green-300 text-green-600 w-8 h-4 text-2xs text-center rounded-full font-bold">Free</button>-->