<div class="border border-style-100 w-10/12 mt-3 ml-20 rounded bg-gray-100 ">
  <div class="relative mt-4">
    <button class="btn btn-sm bg-gray-50 text-black absolute right-24 mt-4 ">Preview</button>
   </div>
  <div class=" absolute right-44  mt-4">
     <button class="btn btn-sm bg-gray-50 text-black w-20">Code</button>
  </div>
  <h2 class="font-medium text-xl p-4">Example</h2>
 <h2 class="p-4">Email address</h2>
 <input type="text" placeholder="Name@example.com" class="  input input-info w-11/12 ml-4 " />
 <h2 class="p-4 text-gray-800">Example textarea</h2>
 <textarea class="textarea textarea-info w-11/12 ml-4" placeholder="Bio"></textarea>
 <br>
</div>


