<div class="border border-style-100 w-10/12 mt-3 ml-20 rounded bg-gray-100 ">
  <div class="relative mt-4">
    <button class="btn btn-sm bg-gray-50 text-black absolute right-24 mt-4 ">Preview</button>
   </div>
  <div class=" absolute right-44  mt-4">
     <button class="btn btn-sm bg-gray-50 text-black w-20">Code</button>
  </div>
  <div class="">
    <div class="dropdown dropdown-hover flex p-4 text-xl b">
       <label  class="">Example</label>
       <p  class="dropdown-content menu p-2 w-52 ml-20 -mt-2 link link-hover text-blue-600">
        #
       </p>
    </div>
   </div>
 <div class="broder border-slate-50">

 </div>
</div>
