<div class="border border-gray-200 w-auto m-2">
  <div class="flex flex-col p-2  ">
    <h5 class="text-blue-500 font-extrabold">Welcome to Falcon!</h5>
    <h6 class="text-gray-300 font-bolt">Here are some quick links for you to start</h6>
  </div>

  <div class=" flex flex-row p-2 ">
    <div class="border border-gray-200 rounded-sm h-6 ">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chess-rook" class="w-5 h-5  " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="cyan" d="M368 32h-56a16 16 0 0 0-16 16v48h-48V48a16 16 0 0 0-16-16h-80a16 16 0 0 0-16 16v48H88.1V48a16 16 0 0 0-16-16H16A16 16 0 0 0 0 48v176l64 32c0 48.33-1.54 95-13.21 160h282.42C321.54 351 320 303.72 320 256l64-32V48a16 16 0 0 0-16-16zM224 320h-64v-64a32 32 0 0 1 64 0zm144 128H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path></svg>
    </div>

    <div class="flex flex-col pr-36 p-1">
        <a class=" link link-hover font-medium text-sm" href="#"><h6 class="">General</h6></a>
        <p class="text-xs text-gray-300 ">Customize with a few clicks</p>
    </div>

    <div class="border border-gray-200 rounded-sm h-6 ">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="crown" class="w-5 h-5 fill-orange-500 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="" d="M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z"></path></svg>
    </div>
    <div class="flex flex-col pr-36 ">
        <a class=" link link-hover font-medium text-sm" href="#"><h6 class="pl-1">Upgrade to pro</h6></a>
        <p class=" text-xs text-gray-300 pl-1">Try Pro for 14 days free! </p>
    </div>
  </div>

<div class="flex flex-row p-2">

  <div class="border border-gray-200 rounded-sm h-6">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6 fill-green-400"><path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" /></svg>
  </div>
  <div class="flex flex-col pr-24">
    <a class=" link link-hover font-medium text-sm" href="#"><h6 class="pl-1">Create mmeting</h6></a>
    <p class="text-xs text-gray-300 pl-1">Manage and update your meetings</p>
  </div>

  <div class="border border-gray-200 rounded-sm h-6">
  <svg xmlns="http://www.w3.org/2000/svg" fill="blue" viewBox="0 0 24 24" stroke-width="1.5" stroke="none" class="w-6 h-6 fill-blue-500"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" /></svg>
  </div>
  <div class="">
     <a class=" link link-hover font-medium text-sm" href="#"><h6 class="pl-1">Members activity</h6></a>
     <p class="text-xs text-gray-300 pl-1">Monitor activity and supervise</p>
  </div>
</div>
</div>
