<div class="p-5">
  <div class="grid grid-cols-1 sm:grid-cols-1 bg-slate-300 w-7/12 h-14">
    <div class="md:flex ml-3 w-full">
      <span class="self-center ml-3"><strong>Active Users</strong></span>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn m-1 ml-96 bg-transparent border-none hover:bg-slate-200 hover:shadow"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 512 512"><title>Ellipsis Horizontal</title><circle cx="256" cy="256" r="32" fill="none" stroke="black" stroke-miterlimit="10" stroke-width="32"/><circle cx="416" cy="256" r="32" fill="none" stroke="black" stroke-miterlimit="10" stroke-width="32"/><circle cx="96" cy="256" r="32" fill="none" stroke="black" stroke-miterlimit="10" stroke-width="32"/></svg></label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow-xl bg-base-100 rounded-box w-52">
          <li><a>View</a></li>
          <li><a>Export</a></li>
          <hr class="dropdown-divider" role="separator">
          <li><a class="text-red-600">Remove</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="md:flex ml-3 w-full">
      <li class="md:flex p-2"><a><div class="avatar online">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
          <img src="https://placeimg.com/192/192/people">
       </div>
    </div></a></li>
    <label class="label">
    <span class="self-start ml-3"><a class="hover:link" href="http://localhost:4200/layout/falcon-active-users">Undefined user</a></span>
    <span class="-ml-24">Admin</span>
  </label>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="md:flex ml-3 w-full">
      <li class="md:flex p-2"><a><div class="avatar online">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
          <img src="https://placeimg.com/192/192/people">
       </div>
    </div></a></li>
    <label class="label">
    <span class="self-start ml-3"><a class="hover:link" href="http://localhost:4200/layout/falcon-active-users">Undefined user</a></span>
    <span class="-ml-24">Moderador</span>
  </label>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="md:flex ml-3 w-full">
      <li class="md:flex p-2"><a><div class="avatar online">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
          <img src="https://placeimg.com/192/192/people">
       </div>
    </div></a></li>
    <label class="label">
    <span class="self-start ml-3"><a class="hover:link" href="http://localhost:4200/layout/falcon-active-users">Undefined user</a></span>
    <span class="-ml-24">Editor</span>
  </label>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="md:flex ml-3 w-full">
      <li class="md:flex p-2"><a><div class="avatar online">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
          <img src="https://placeimg.com/192/192/people">
       </div>
    </div></a></li>
    <label class="label">
    <span class="self-start ml-3"><a class="hover:link" href="http://localhost:4200/layout/falcon-active-users">Undefined user</a></span>
    <span class="-ml-24">Admin</span>
  </label>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="md:flex ml-3 w-full">
      <li class="md:flex p-2"><a><div class="avatar online">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
          <img src="https://placeimg.com/192/192/people">
       </div>
    </div></a></li>
    <label class="label">
    <span class="self-start ml-3"><a class="hover:link" href="http://localhost:4200/layout/falcon-active-users">Undefined user</a></span>
    <span class="-ml-24">Editor</span>
  </label>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="md:flex ml-3 w-full">
      <li class="md:flex p-2"><a><div class="avatar online">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
          <img src="https://placeimg.com/192/192/people">
       </div>
    </div></a></li>
    <label class="label">
    <span class="self-start ml-3"><a class="hover:link" href="http://localhost:4200/layout/falcon-active-users">Undefined user</a></span>
    <span class="-ml-24">user</span>
  </label>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 bg-slate-300 w-7/12 h-14">
    <div class="md:flex w-full ml-56 ">
      <span class="self-center ml-3 text-cyan-600 hover:text-cyan-500" (click)="setClickClass(1)">All active users</span>
      <li class="md:flex self-center mt-1 text-cyan-600"><a><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 512 512"><title>Chevron Forward</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg></a></li>
    </div>
  </div>

  <div class=" pt-5" [class]="activeClickActive  === 1 ? ' block':'hidden' ">
    <div class="grid grid-cols-4 sm:grid-cols-4 p-5 shadow-sm">
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Emilia Clarke</span>
        <p class="text-sm justify-center ml-1 link link-hover text-slate-400">Technext limited</p>
      </div>
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Kit Harington</span>
        <p class="text-sm flex justify-start ml-1 link link-hover text-slate-400">Harvard Korea Society</p>
      </div>
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Sophie Turner</span>
        <p class="text-sm flex justify-start ml-1 link link-hover text-slate-400">Graduate Student Council</p>
      </div>
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Peter Dinklage</span>
        <p class="text-sm flex justify-start link link-hover text-slate-400">Art Club, MIT</p>
      </div>
    </div>
    <div class="grid grid-cols-4 sm:grid-cols-4 p-5 shadow-sm">
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Nikolaj Coster</span>
        <p class="text-sm justify-center ml-1 link link-hover text-slate-400">Archery Club, MIT</p>
      </div>
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Isaac Hempstead</span>
        <p class="text-sm flex justify-start ml-1 link link-hover text-slate-400">Asymptones</p>
      </div>
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Alfie Allen</span>
        <p class="text-sm flex justify-start ml-1 link link-hover text-slate-400">Brain Trust</p>
      </div>
      <div>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <span class="flex link link-hover text-blue-500 text-xl">Iain Glen</span>
        <p class="text-sm flex justify-start link link-hover text-slate-400">GSAS Action Coalition</p>
      </div>
    </div>
  </div>
