<div class=" card w-auto bg-base-100 shadow-xl border border-slate-200">
  <div class="flex items-center p-2 w-full">
    <span class="font-semibold ml-2  flex items-center grow ">Recent </span>
    <span><button class="border border-gray-300 w-20 grow ml-3">+ New</button></span>
    <span><button class="border border-gray-300 w-20 grow ml-3">Filter</button></span>
    <span><button class="border border-gray-300 w-20 grow ml-3">Export</button></span>
    <hr>
  </div>
  <div class="flex items-center bg-slate-100 p-4 w-full">
    <th class="flex">Custome<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-2 ml-2" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg><svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-4 -ml-2" viewBox="0 0 512 512"><title>Caret Down</title><path d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"/></svg></th>
    <th class="flex ml-32">Email<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-2 ml-2" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg><svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-4 -ml-2" viewBox="0 0 512 512"><title>Caret Down</title><path d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"/></svg></th>
    <th class="flex ml-32">Product<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-2 ml-2" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg><svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-4 -ml-2" viewBox="0 0 512 512"><title>Caret Down</title><path d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"/></svg></th>
    <th class="flex ml-32">Patment<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-2 ml-2" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg><svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-4 -ml-2" viewBox="0 0 512 512"><title>Caret Down</title><path d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"/></svg></th>
    <th class="flex ml-3">Amount<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-2 ml-2" viewBox="0 0 512 512"><title>Caret Up</title><path d="M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z"/></svg><svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 mt-4 -ml-2" viewBox="0 0 512 512"><title>Caret Down</title><path d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z"/></svg></th>
  </div>

  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">Sylvia
      Plath</label>
    <span class="grow text-sm ml-4">john@gmail.com</span>
    <span class="grow text-sm">Slick - Drag & Drop Bootstrap Generator</span>
    <td><span class="bg-green-100 text-green-700 font-semibold  rounded-xl p-1 text-sm ml-2">Success</span></td>
    <span class="grow text-sm ml-14">$99</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">Homer</label>
    <span class="grow text-sm ml-16">sylvia@mail.ru</span>
    <span class="grow text-sm">Bose SoundSport Wireless Headphones</span>
    <td><span class="bg-green-100 text-green-700 font-semibold  rounded-xl p-1 text-sm ml-4">Success</span></td>
    <span class="grow text-sm ml-14">$634</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">	Edgar Allan Poe</label>
    <span class="grow text-sm">	edgar@yahoo.com</span>
    <span class="grow text-sm">All-New Fire HD 8 Kids Edition Tablet</span>
    <td><span class="bg-zinc-200 text-zinc-500 font-semibold rounded-xl p-1 text-sm ml-2">Blocked</span></td>
    <span class="grow text-sm ml-14">$199</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <!--otrop mas -->
  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">William Butler Yeats</label>
    <span class="grow text-sm -ml-10">william@gmail.com</span>
    <span class="grow text-sm">Apple iPhone XR (64GB)</span>
    <td><span class="bg-green-100 text-green-700 font-semibold  rounded-xl p-1 text-sm ml-20">Success</span></td>
    <span class="grow text-sm ml-14">$798</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <!--otrao amas-->
  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">	Rabindranath Tagore</label>
    <span class="grow text-sm -ml-2">tagore@twitter.com</span>
    <span class="grow text-sm">	ASUS Chromebook C202SA-YS02 11.6"</span>
    <td><span class="bg-zinc-200 text-zinc-500 font-semibold  rounded-xl p-1 text-sm ml-2">Blocked</span></td>
    <span class="grow text-sm ml-14">$318</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <!--otrop mas -->
  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">	Emily Dickinson</label>
    <span class="grow text-sm">emily@gmail.com</span>
    <span class="grow text-sm">Mirari OK to Wake! Alarm Clock & Night-Light</span>
    <td><span class="bg-red-100 text-orange-900 font-semibold  rounded-xl p-1 text-sm ml-2">Pending</span></td>
    <span class="grow text-sm ml-14">$11</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <!--otrop mas -->
  <div class="py-3 mb-0 flex align-items-center form-check hover:bg-gray-50 ">
    <input type="checkbox" id="todoItem-0" class="rounded-3 mt-0 ml-2 form-check-input">
    <label for="todoItem-0"
      class="flex items-center grow mb-0 ml-2 form-check-label text-cyan-600 text-sm font-semibold btn-link">Giovanni Boccaccio</label>
    <span class="grow text-sm">giovanni@outlook.com</span>
    <span class="grow text-sm">Summer Infant Contoured Changing Pad</span>
    <td><span class="bg-red-100 text-orange-900 font-semibold  rounded-xl p-1 text-sm ml-2">Success</span></td>
    <span class="grow text-sm ml-14">$31</span>
    <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
      <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mr-9">
        <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-0">View</a></li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Edit</a>
        </li>
        <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Refund</a>
        </li>
        <hr>
        <li><a class="text-orange-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
            id="menu-item-2">Archive</a></li>
        <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-row items-center  bg-slate-50">
    <span class="d-none d-sm-inline-block me-2 ml-2">1 to 7 of 14</span>
    <div class="d-flex justify-end items-end ml-96 text-left relative -right-48 "><button type="button" class="disabled btn btn-light btn-sm">Previous</button><button type="button" class="px-4 ms-2 btn btn-primary btn-sm">Next</button></div>
  </div>

</div>

