<div class="border border-gray-300 h-80 w-4/6 rounded-md flex flex-col items-center mt-10 ml-20 shadow-lg">
  <img class="relative right-72 h-72 w-80 mt-8 ml-64 " src="https://falconreact.prium.me/static/media/21.afe4bca8.png">
  <div class="relative -mt-56 ml-64 grid">
  <span class="text-blue-500 font-semibold text-3xl ">Edit me!</span>
  <span class="mt-2 text-xl text-gray-500">Create Something Beautiful.</span>
  <a [routerLink]="['/falcon/falcon-starter-documentacion']" role="button" class="btn btn-outline btn-sm hover:bg-slate-50 border-slate-300 mt-4 w-40 h-9"><p class="text-blue-600">Getting started</p></a>
  </div>
  </div>
