<div clas="p-5">
  <div class="flex">
    <span class="text-xl pt-2 pr-5 text-black">Customers</span>
    <div class="flex justify-end pt-3">
      <span class="bg-orange-300 text-sm rounded-lg w-12 h- text-orange-700 ">-0.23%</span>
    </div>
  </div>
  <div class="pt-3">
    <span class="text-5xl text-orange-500 ">58.39k</span>
  </div>
  <label for="searchCustomers">
    <div class="pt-4">
      <a class="text-blue-600">See all ></a>
    </div>
  </label>
</div>
<input type="checkbox" id="searchCustomers"  checked class="peer hidden">
<div class="peer-checked:hidden pt-5">
  <div>
    <span>Customers</span>
  </div>
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>Quality Control Specialist</td>
        <td>Blue</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>Tax Accountant</td>
        <td>Red</td>
      </tr>
    </tbody>
  </table>



</div>
