<div class="border border-gray-200 h-96 w-4/6 rounded-md flex flex-col items-center">
  <div class="flex items-center w-full border border-gray-200 h-16">
    <span class="grow ml-3 font-sans font-semibold">Deal Storage Funnel</span>
    <select class="select select-bordered max-w-sm select-sm mr-4">
      <option class="" selected>View</option>
      <option>Emport</option>
      <hr>
      <option class="text-red-600">Remove</option>
    </select>
</div>
<div class="flex items-center p-4 w-full">
<span class="grow text-slate-500">Deal Stage</span>
<span class="mr-6 text-slate-500">Count of Deals</span>
<span class="text-slate-500	">Conversion</span>
</div>
<progress class="progress progress-info w-10/12 h-7 rotate-180 mr-24" value="50" max="100"></progress>
<p class="-mt-7 relative right-80 ml-6">Created</p>
<p class="-mt-6 mr-10 reltaive z-10 text-slate-50">19</p>
<span class="bg-sky-100 text-sky-700 rounded-md p-1 text-sm -mt-6 relative left-72 w-14 ml-4 text-center">99%</span>
<br>
<progress class="progress progress-info w-10/12 h-7 rotate-180 mr-24" value="50" max="100"></progress>
<p class="-mt-7 relative right-72 ml-5">Qualified to Buy</p>
<p class="-mt-6 mr-10 reltaive z-10 text-slate-50">19</p>
<span class="bg-sky-100 text-sky-700 rounded-md p-1 text-sm -mt-6 relative left-72 w-14 ml-4 text-center">68%</span>
<br>
<progress class="progress progress-info w-10/12 h-7 rotate-180 mr-24" value="35" max="100"></progress>
<p class="-mt-7 relative right-72 ml-0">Contact Sent</p>
<p class="-mt-6 ml-32 reltaive z-10 text-slate-50">13</p>
<span class="bg-sky-100 text-sky-700 rounded-md p-1 text-sm -mt-6 relative left-72 w-14 ml-4 text-center">76%</span>
<br>
<progress class="progress progress-info w-10/12 h-7 rotate-180 mr-24" value="25" max="100"></progress>
<p class="-mt-7 relative right-72 ml-0">Contact Won</p>
<p class="-mt-6 ml-60 reltaive z-10 text-slate-50">10</p>
<span class="bg-sky-100 text-sky-700 rounded-md p-1 text-sm -mt-6 relative left-72 w-14 ml-4 text-center">70%</span>
<br>
<progress class="progress progress-info w-10/12 h-7 rotate-180 mr-24" value="20" max="100"></progress>
<p class="-mt-7 relative right-72 -ml-3">Processing</p>
<p class="-mt-6 ml-80 mr-4 reltaive z-10 text-slate-50">7</p>
<span class="bg-sky-100 text-sky-700 rounded-md p-1 text-sm -mt-6 relative left-72 w-14 ml-4 text-center">50%</span>
</div>
