<div class="border border-gray-300 h-80 w-5/6 rounded-md flex flex-col items-center">
    <div class="flex items-center bg-slate-100 p-4 w-full">
        <span class="grow">Running Projects</span> 
        <select class="select select-primary max-w-sm select-sm">
            <option disabled selected>Working Time</option>
            <option>Estimated time</option>
            <option>Billable time</option>
          </select>
    </div>
    <table class="table w-full p-2">
        <thead class="hidden">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-0 w-4">
                    <div class="ml-4 uppercase text-sky-700 font-bold border bg-sky-100 rounded-full h-8 w-8 text-center">
                       <span class="align-middle">f</span> 
                    </div>
                </td>
                <td><span class="capitalize">falcon</span><span class="bg-sky-100 text-sky-700 rounded-xl p-1 text-sm ml-2">90%</span> </td>
                <td><span class="text-sm">58:20:00</span> </td>
                <td>
                    <progress class="progress progress-primary w-14" value="80" max="100"></progress>
                </td>
            </tr>
            <tr>
                <td class="p-0 w-4">
                    <div class="ml-4  uppercase text-green-700 font-bold border bg-green-100 rounded-full h-8 w-8 text-center">
                       <span class="align-middle">r</span> 
                    </div>
                </td>
                <td><span class="capitalize">Reing</span><span class="bg-sky-100 text-sky-700 rounded-xl p-1 text-sm ml-2">78%</span> </td>
                <td><span class="text-sm">48:20:00</span> </td>
                <td>
                    <progress class="progress progress-primary w-14" value="30" max="100"></progress>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="grow" ></span>
    <a class="text-primary font-bold">Show all projects</a>
    
</div>

