<div class="border border-gray-400 h-auto w-fit rounded-lg">
    <div class="flex items-center p-3">
        <span>Deal Forecast by Owner</span>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center bg-slate-200 text-gray-500">Owner</th>
                    <th class="text-center bg-slate-200 text-gray-500">Qualified to buy</th>
                    <th class="text-center bg-slate-200 text-gray-500">Appointment</th>
                    <th class="text-center bg-slate-200 text-gray-500">Contact sent</th>
                    <th class="text-center bg-slate-200 text-gray-500">Closed won</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center text-blue-700 no-underline hover:underline"><a href="">John oliver</a></td>
                    <td class="text-center text-gray-500">1000</td>
                    <td class="text-center text-gray-500">2600</td>
                    <td class="text-center text-gray-500">3523</td>
                    <td class="text-center text-gray-500">1311</td>
                </tr>
                <tr>
                    <td class="text-center text-blue-700 no-underline hover:underline"><a href="">Sean Paul</a></td>
                    <td class="text-center text-gray-500">1500</td>
                    <td class="text-center text-gray-500">1600</td>
                    <td class="text-center text-gray-500">3523</td>
                    <td class="text-center text-gray-500">2311</td>
                </tr>
                <tr>
                    <td class="text-center text-blue-700 no-underline hover:underline"><a href="">Brad Shaw</a></td>
                    <td class="text-center text-gray-500">1400</td>
                    <td class="text-center text-gray-500">2200</td>
                    <td class="text-center text-gray-500">3523</td>
                    <td class="text-center text-gray-500">3311</td>
                </tr>
                <tr>
                    <td class="text-center text-blue-700 no-underline hover:underline"><a href="">Max Payne</a></td>
                    <td class="text-center text-gray-500">6600</td>
                    <td class="text-center text-gray-500">2220</td>
                    <td class="text-center text-gray-500">3523</td>
                    <td class="text-center text-gray-500">1511</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th class="text-center bg-slate-100 text-gray-500">Total</th>
                    <th class="text-center bg-slate-100 text-gray-500">$10500</th>
                    <th class="text-center bg-slate-100 text-gray-500">$8620</th>
                    <th class="text-center bg-slate-100 text-gray-500">$14092</th>
                    <th class="text-center bg-slate-100 text-gray-500">$8444</th>
                </tr>
            </thead>
        </table>
    </div>
</div>