<div class="border border-gray-300 h-auto w-3/5 p-1">
  <div class="flex flex-row items-center h-14">
    <img class="w-8 h-8 border border-gray-300" src="/assets/logo.png" alt="logo">
    <p class="ml-2 grow">Historial</p>
  </div>
  <div class="bg-slate-300 flex flex-row h-8">
    <div class="border border-gray-300 bg-slate-400 w-2">
    </div>
    <a href="#  MK" class="text-center grow text-blue-700 underline mt-1 font-semibold">Nuevo Mensaje:1</a>
    <button class="">
      <svg xmlns="http://www.w3.org/1000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
    </button>
  </div>
  <!--primera fila-->
  <div class="flex flex-row items-center bg-slate-100 p-2 text-sm hover:bg-green-500 active:bg-green-300 focus:outline-none focus:ring">
    <div><img class="w-4 h-4" src="/assets/bandera del ecuador.png" alt="n/b"></div>
    <div class="ml-1 basis-1/6">V1661347083154737</div>
    <div class="text-white bg-purple-600 ml-14  basis-5 text-center rounded-sm z-40">J</div>
    <div class="text-white bg-cyan-400  basis-5 text-center mr-10 rounded-sm z-30">K</div>
    <div class="flex justify-end basis-4/12 ml-4">24/Ago.08:20</div>
  </div>
  <!---- segunda fila ----->
  <div class="flex flex-row items-center text-sm p-2 hover:bg-green-500 active:bg-green-300 focus:outline-none focus:ring">
    <div><img class="w-4 h-4" src="/assets/bandera del ecuador.png" alt="n/b"></div>
    <div class="ml-1 basis-1/6">V1661346825542698</div>
    <div class="text-white bg-purple-600 ml-14  basis-5 text-center rounded-sm z-40">J</div>
    <div class="text-white bg-cyan-400  basis-5 text-center rounded-sm z-30">K</div>
    <div class="flex justify-end basis-5/12 ml-3">24/Ago.08:16</div>
  </div>
  <!---- tercera fila ----->
  <div class="flex flex-row items-center bg-slate-100 p-2 text-sm hover:bg-green-500 active:bg-green-300 focus:outline-none focus:ring">
    <div><img class="w-4 h-4" src="/assets/bandera del ecuador.png" alt="n/b"></div>
    <div class="ml-1 basis-1/6">V1661285404874756</div>
    <div class="text-white bg-purple-600 ml-14  basis-5 text-center rounded-sm z-50">J</div>
    <div class="text-white bg-cyan-400  basis-5 text-center rounded-sm z-50">K</div>
    <div class="text-white bg-amber-500  basis-5 text-center rounded-sm z-20">K</div>
    <div class="flex justify-end basis-2/5">24/Ago.08:14</div>
  </div>
  <!---- cuarta fila ----->
  <div class="flex flex-row items-center text-sm p-2 hover:bg-green-500 active:bg-green-300 focus:outline-none focus:ring">
    <div><img class="w-4 h-4" src="/assets/bandera del ecuador.png" alt="n/b"></div>
    <div class="ml-1 basis-1/6">V1661285404874756</div>
    <div class="text-white bg-cyan-400 ml-14  basis-5 text-center rounded-sm z-40">F</div>
    <div class="text-white bg-amber-400  basis-5 text-center rounded-sm z-30">I</div>
    <div class="text-white bg-cyan-400  basis-5 text-center rounded-sm z-20">K</div>
    <div class="flex justify-end basis-2/5">23/Ago.15:29</div>
  </div>
  <!---- quinta fila ----->
  <div class="flex flex-row items-center bg-slate-100 p-2 text-sm hover:bg-green-500 active:bg-green-300 focus:outline-none focus:ring">
    <div><img class="w-4 h-4" src="/assets/bandera del ecuador.png" alt="n/b"></div>
    <div class="ml-1 basis-1/6">V1661285328839724</div>
    <div class="text-white bg-purple-600 ml-14  basis-5 text-center rounded-sm z-40">J</div>
    <div class="text-white bg-cyan-400  basis-5 text-center rounded-sm z-30">K</div>
    <div class="text-white bg-amber-400  basis-5 text-center rounded-sm z-20">I</div>
    <div class="flex justify-end basis-2/5">23/Ago.15:21</div>
  </div>
  <!---- sexta fila ----->
  <div class="flex flex-row items-center text-sm p-2 hover:bg-green-500 active:bg-green-300 focus:outline-none focus:ring">
    <div><img class="w-4 h-4" src="/assets/bandera del ecuador.png" alt="n/b"></div>
    <div class="ml-1 basis-1/6">V1661285921055590</div>
    <div class="text-white bg-purple-600 ml-14 basis-5 text-center rounded-sm">J</div>
    <div class="flex justify-end basis-1/2 mr-14">23/Ago.15:21</div>
  </div>
</div>
