<div class="border border-gray-400 h-auto w-fit rounded-lg">
    <div class="flex items-center p-3">
        <span class="font-medium">Recent Activity</span>
    </div>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 
                                0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 
                                0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg>
                        <span class="font-bold">Antony Hopkins sent an Email</span><br><span class="text-gray-500"> Got an email foor previous year
                            sale report</span></td>
                    <td class="text-xs text-gray-400">2m ago</td>
                </tr>
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 
                                2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 
                                0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
                        </svg>
                        <span class="font-bold">Emma archived a board</span><br><span class="text-gray-500"> A finished project's board is archived
                            recently</span></td>
                    <td class="text-xs text-gray-400">26m ago</td>
                </tr>
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                        </svg>
                        <span class="font-bold">Falcon v3.0.0 released with new features</span><br><span class="text-gray-500"> Falcon new version is
                            released successfully with new<br>Dashboards</span></td>
                    <td class="text-xs text-gray-400">1h ago</td>
                </tr>
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-git-fork" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="18" r="2" />
                        <circle cx="7" cy="6" r="2" />
                        <circle cx="17" cy="6" r="2" />
                        <path d="M7 8v2a2 2 0 0 0 2 2h6a2 2 0 0 0 2 -2v-2" />
                        <line x1="12" y1="12" x2="12" y2="16" />
                    </svg>
                        <span class="font-bold">Rowan shared a link to the board</span><br><span class="text-gray-500"> A link is shared with
                            attachments</span></td>
                    <td class="text-xs text-gray-400">3h ago</td>
                </tr>
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 
                                2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                        </svg>
                        <span class="font-bold">Anna updated a file</span><br><span class="text-gray-500"> Fixed some bugs and spelling errors on this
                            update></span></td>
                    <td class="text-xs text-gray-400">4h ago</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>