<div class="w-full h-full border shadow-lg rounded-sm">
    <div>
        <img src="https://falconreact.prium.me/static/media/13.8c60319e.jpg" class="rounded">
    </div>
    <div class="grid grid-cols-2 py-5">
        <div class="flex px-3">
            <img src="https://cdn-icons-png.flaticon.com/512/2773/2773319.png" class="w-12 h-12">
            <div class="flex flex-col gap-0.5 px-3">
                <p class="font-medium">FREE New Year's Eve Midnight Harbor Fireworks</p>
                <p class="text-sm">By <a class="hover:underline text-sky-500 cursor-pointer">Boston Harbor Now</a></p>
                <p class="text-orange-500 font-semibold">$49.99 – $89.99</p>
            </div>
        </div>
        <div class="btn-group btn-group-vertical lg:btn-group-horizontal gap-4 py-8 px-10">
            <button class="btn btn-sm gap-3 bg-slate-50 rounded-none text-slate-600 w-15 border-gray-300 shadow-md hover:bg-slate-50 hover:shadow-lg hover:border-gray-300"> <img src="https://cdn-icons-png.flaticon.com/512/3482/3482383.png" class="w-3"> 235 </button>

            <button class="btn btn-sm gap-8 bg-slate-50 rounded-none text-slate-600 w-30 border-gray-300 shadow-md hover:bg-slate-50 hover:shadow-lg hover:border-gray-300 capitalize "> <img src="https://cdn-icons-png.flaticon.com/512/1828/1828960.png" class="w-3">Share</button>

            <button class="btn btn-sm gap-3 bg-slate-50 rounded-none text-sky-500 w-40 border-gray-300 shadow-md hover:bg-slate-50 hover:shadow-lg hover:border-gray-300 capitalize">Register</button>
        </div>
    </div>
</div>
