<div class="w-72 border shadow-md">
    <div class="bg-slate-50">
        <div class="p-2 font-semibold text-2xl">
            <p>Events you may like</p>
        </div>
    </div>
    <div class="grid grid-cols-1 p-2">
        <div class="flex">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Newmarket Nights</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">University of Oxford</a> </span>
                    <span class="px-5 text-sm">Time: 6:00AM</span>
                    <span class="px-5 text-sm">Duration: 6:00AM - 5:00PM</span>
                    <span class="px-5 text-sm text-slate-400">Place: Cambridge Boat Club, Cambridge</span>
                    <hr class="mt-2">
            </div>
        </div>
        <div class="flex py-2">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Film Festival</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">American Nuclear Society</a> </span>
                    <span class="px-5 text-sm">Time: 11:00AM</span>
                    <span class="px-5 text-sm">Duration: Feb 29 - Mar 2</span>
                    <span class="px-5 text-sm text-slate-400">Place: Workbar-Central Square,Cambridge</span>
                <hr class="mt-2">
            </div>
        </div>
        <div class="flex py-2">
            <img src="https://cdn-icons-png.flaticon.com/512/3697/3697168.png" class="w-12 h-12">
                <div class="flex flex-col gap-0.5">
                    <span class="px-5 text-sky-500 font-medium text-lg hover:underline hover:text-sky-600 cursor-pointer">Film Festival</span>
                    <span class="px-5 text-sm text-slate-400">Organized by <a class="hover:underline cursor-pointer">American Nuclear Society</a> </span>
                    <span class="px-5 text-sm">Time: 11:00AM</span>
                    <span class="px-5 text-sm">Duration: Feb 29 - Mar 2</span>
                    <span class="px-5 text-sm text-slate-400">Place: Workbar-Central Square,Cambridge</span>
                </div>
        </div>
        <hr>
        <div class="flex bg-slate-50 justify-center p-1">
            <a class="font-medium text-sky-500 hover:underline cursor-pointer">All Events ></a>
        </div>
    </div>
</div>
