<div class="card shadow-lg rounded border border-gray-200">
  <div class="flex justify-between">
    <div class="bg-slate-50 p-4 text-gray-700 h-16 font-semibold text-2xl">
      <h3>Your Notifications</h3>
    </div>
    <div>
      <a href="" class="link link-hover text-blue-400">Mark all as read</a>
    </div>
  </div>
    <hr>
    <div class="">
      <a class="flex flex-row cursor-pointer h-20">
        <div class="p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img class="rounded-full" src="https://falconreact.prium.me/static/media/1.f7d5569c.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            Announcing the winners of the 
            <strong>The only book awards</strong>
            decided by you, the readers. Check out the champions and runners-up in all 21 categories now!
          </p>
          <span class="text-slate-500">📢 Just Now</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/2.20b1aba3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            Last chance to vote in 
            <strong>The 2018 Falcon Choice Awards</strong>
            ! See what made it to the Final Round and help your favorites take home the win. Voting closes on November 26
          </p>
          <span class="text-gray-500">🏆 15m</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/3.b3477e97.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Jennifer Kent</strong> 
            declared you as a 
            <strong>President</strong> 
            of Computer Science and Engineering Society
          </p>
          <span class="text-slate-500">📢 1h</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/4.482e0311.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            Congratulate 
            <strong>Woody Allen</strong> 
            for starting a new position as Business Development Manager & Implementation Engineer at 
            <strong>Hewlett Packard Enterprise(HP)</strong>
          </p>
          <span class="text-slate-500">🎁 6h</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/5.3fdcffd4.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Christopher Nolan</strong>
            Mentioned you in a comment : "Congratulations! Wishing you a great future. Proud fo you ❤️"
          </p><span class="text-slate-500">💬 8h</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/harvard.dd2c27a9.png">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Jennifer Kent</strong> Congratulated 
            <strong>Anthony Hopkins</strong>
          </p>
          <span class="text-slate-500">November 13, 5:00 Am</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/7.ad543a0e.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>California Institute of Technology</strong> tagged 
            <strong>Anthony Hopkins</strong> in a post.
          </p>
          <span class="text-slate-500">November 8, 5:00 PM</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/8.f10cab45.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Anthony Hopkins</strong> joined 
            <strong>Victory day cultural Program</strong> with 
            <strong>Tony Stark</strong>
          </p>
          <span class="text-slate-500">November 01, 11:30 AM</span>
        </div>
      </a>
      <hr>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/9.57c5c601.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Massachusetts Institute of Technology</strong> invited 
            <strong>Anthony Hopkin</strong> to an event
          </p>
          <span class="text-slate-500">October 28, 12:00 PM</span>
        </div>
      </a>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/10.8575d5a9.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Massachusetts Institute of Technology</strong> invited 
            <strong>Anthony Hopkin</strong> to an event
          </p>
          <span class="text-slate-500">October 28, 12:00 PM</span>
        </div>
      </a>
      <a class="flex flex-row cursor-pointer h-20">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/oxford.9cafa98d.png">
            </div>
          </div>
        </div>
        <div class="ml-2 text-base">
          <p class="mt-4">
            <strong>Massachusetts Institute of Technology</strong> invited 
            <strong>Anthony Hopkin</strong> to an event
          </p>
          <span class="text-slate-500">October 28, 12:00 PM</span>
        </div>
      </a>
    </div>
  </div>
