<div class="card shadow-lg rounded border border-gray-200">
  <div class="flex justify-between items-center p-4 bg-slate-50">
    <div class="text-gray-700 font-semibold text-xl">
      <h6>Your Notifications</h6>
    </div>
    <div>
      <a href="" class="link link-hover text-blue-400 font-sans">Mark all as read</a>
    </div>
  </div>

    <div class="">
      <a class="flex flex-row  h-24" href="">
        <div class="p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img class="rounded-full" src="https://falconreact.prium.me/static/media/1.f7d5569c.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            Announcing the winners of the
            <strong>The only book awards</strong>
            decided by you, the readers. Check out the champions and runners-up in all 21 categories now!
          </p>
          <div class="mt-2">
            <span class="text-slate-500">📢 Just Now</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-24 bg-blue-50 hover:bg-blue-100" href="">
        <div class="p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/2.20b1aba3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            Last chance to vote in
            <strong>The 2018 Falcon Choice Awards</strong>
            ! See what made it to the Final Round and help your favorites take home the win. Voting closes on November 26
          </p>
          <div class="mt-2">
            <span class="text-gray-500">🏆 15m</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-20" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/3.b3477e97.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            <strong>Jennifer Kent</strong>
            declared you as a
            <strong>President</strong>
            of Computer Science and Engineering Society
          </p>
          <div class="mt-2">
            <span class="text-slate-500">📢 1h</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-24 bg-blue-50 hover:bg-blue-100" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/4.482e0311.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            Congratulate
            <strong>Woody Allen</strong>
            for starting a new position as Business Development Manager & Implementation Engineer at
            <strong>Hewlett Packard Enterprise(HP)</strong>
          </p>
          <div class="mt-2">
            <span class="text-slate-500">🎁 6h</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-20 bg-blue-50 hover:bg-blue-100" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/5.3fdcffd4.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            <strong>Christopher Nolan</strong>
            Mentioned you in a comment : "Congratulations! Wishing you a great future. Proud fo you ❤️"
          </p>
          <div class="mt-2">
            <span class="text-slate-500">💬 8h</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-20" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/harvard.dd2c27a9.png">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            Join
            <strong>GIS Institute Winter 2019</strong>
            Event arranged by <strong>Harvard University</strong>
            . Only three days to go.
          </p>
          <div class="mt-2">
            <span class="text-slate-500">🚶 9h</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-20 bg-blue-50 hover:bg-blue-100" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/7.ad543a0e.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            <strong>Peter Jackson</strong>
            set CSE Curnival Programe in New Museums Site in
            <strong>University of Cambridge</strong>
          </p>
          <div class="mt-2">
            <span class="text-slate-500">💻 14h</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-20" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/8.f10cab45.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            <strong>David Fincher</strong>
            declared you as a verified member of
            <strong>Stanford University.</strong>
          </p>
          <div class="mt-2">
            <span class="text-slate-500">✔️ 2d</span>
          </div>
        </div>
      </a>

      <a class="flex flex-row  h-24" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/9.57c5c601.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            Follow
            <strong>International Conference on Water and Environmental Engineering (ICWEE)</strong>
            event arranged by United Nations Development Program on 30 December 2018
          </p>
          <div class="mt-2">
            <span class="text-slate-500">🔍 3d</span>
          </div>
        </div>
      </a>
      <a class="flex flex-row  h-20" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/10.8575d5a9.jpg">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            <strong>James Cameron</strong>
            invited to join the group: United Nations International Children's Fund
          </p>
          <div class="mt-2">
            <span class="text-slate-500">🙋‍ 2d</span>
          </div>
        </div>
      </a>
      <a class="flex flex-row  h-20 bg-blue-50 hover:bg-blue-100" href="">
        <div class="notification-avatar p-2">
          <div class="avatar p-2">
            <div class="w-8 rounded-full">
              <img src="https://falconreact.prium.me/static/media/oxford.9cafa98d.png">
            </div>
          </div>
        </div>
        <div class="ml-2 text-sm">
          <p class="mt-4">
            <strong>University of Oxford</strong>
            created an event : "Causal Inference Hilary 2019"
          </p>
          <div class="mt-2">
            <span class="text-slate-500">✌️ 1w</span>
          </div>
        </div>
      </a>
    </div>
  </div>
