<div   class="flex relative stats shadow bg- bg-gradient-to-r from-white  via-white to-cyan-300 max-w-xs">

  <div class="stat">
    <div class="stat-figure text-secondary">
      <div>
      </div>
    </div>
    <td><span class="bg-cyan-300 text-cyan-700 rounded-xl p-1 text-xs ml-16 ">0.0%</span> </td>
    <div class="flex flex-row">
    <div class="stat-title text-black font-semibold -mt-6">Orders</div>
    </div>
    <div class="  h-15 w-50 p-2">
      <div class="stat-value font-medium pt-6 pb-4 text-cyan-400">23.43K</div>
    </div>
  </div>
  <div>
   <h2 class="link link-hover text-sky-800 mt-32 -ml-72" href="#">All Orders ></h2>
  </div>
</div>
