<ul  class="border-2 w-50 h-full border-gray-300 text-black rounded-md shadow-inner">

    <div tabindex="0" class="collapse " >
        <input type="checkbox"  />
        <div  class="collapse-title text-base text-slate-600 font-bold flex flex-col-2">   
            <div>Live Chat</div> 
            <div class="pl-2 h-1 text-gray-400">▼
              </div>  
    </div>
        <div class="collapse-content" >
            <li><button tabindex="1" class="py-0.5 px-2 rounded-md mr-4 w-4" (click)="setActiveClass(1)" [class]="activeCourseActive  === 1 ? '' :''"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                    </svg>
               </button>
               <button tabindex="2" class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(1)" [class]="activeCourseActive  === 1 ? ' bg-slate-700  text-white' :'  '"> Chat Volume </button>
            </li>

            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(2)" [class]="activeCourseActive  === 2 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                    </svg>                                           
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(2)" [class]="activeCourseActive  === 2 ? ' bg-slate-700  text-white' :'  '"> Missed Chats </button>
            </li>

            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(3)" [class]="activeCourseActive  === 3 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z" />
                    </svg>
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(3)" [class]="activeCourseActive  === 3 ? ' bg-slate-700  text-white' :'  '"> Offline Messages </button>
            </li>

            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(4)" [class]="activeCourseActive  === 4 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.875 14.25l1.214 1.942a2.25 2.25 0 001.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 011.872 1.002l.164.246a2.25 2.25 0 001.872 1.002h2.092a2.25 2.25 0 001.872-1.002l.164-.246A2.25 2.25 0 0116.954 9h4.636M2.41 9a2.25 2.25 0 00-.16.832V12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 01.382-.632l3.285-3.832a2.25 2.25 0 011.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0021.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 002.25 2.25z" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(4)" [class]="activeCourseActive  === 4 ? ' bg-slate-700  text-white' :'  '"> Average Chat <br> Duration  </button>
            </li>

            <li><button class="py-2 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(5)" [class]="activeCourseActive  === 5 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(5)" [class]="activeCourseActive  === 5 ? ' bg-slate-700  text-white' :'  '"> Users Satifaction </button>
            </li>

            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(6)" [class]="activeCourseActive  === 6 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(6)" [class]="activeCourseActive  === 6 ? ' bg-slate-700  text-white' :'  '"> First Responsive Time </button>
            </li>
        </div>
</div>


<div class="collapse " >
    <input type="checkbox" />
    <div  class="collapse-title text-base text-slate-600 font-bold flex flex-col-2">   
        <div>Tickets</div> 
        <div class="pl-2 h-1 text-gray-400">▼
        </div> 
</div>
        <div  class="collapse-content" >
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(7)" [class]="activeCourseActive  === 7 ? '' :'  '"> 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                  </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(7)" [class]="activeCourseActive  === 7 ? ' bg-slate-700  text-white' :'  '"> New Ticket Volume</button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(8)" [class]="activeCourseActive  === 8 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(8)" [class]="activeCourseActive  === 8 ? ' bg-slate-700  text-white' :'  '"> Solve Tickets </button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(9)" [class]="activeCourseActive  === 9 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 14.25l6-6m4.5-3.493V21.75l-3.75-1.5-3.75 1.5-3.75-1.5-3.75 1.5V4.757c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0c1.1.128 1.907 1.077 1.907 2.185zM9.75 9h.008v.008H9.75V9zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm4.125 4.5h.008v.008h-.008V13.5zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(9)" [class]="activeCourseActive  === 9 ? ' bg-slate-700  text-white' :'  '"> Ticket Source </button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(10)" [class]="activeCourseActive  === 10 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(10)" [class]="activeCourseActive  === 10 ? ' bg-slate-700  text-white' :'  '"> Resolution Time </button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(11)" [class]="activeCourseActive  === 11 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9.75h4.875a2.625 2.625 0 010 5.25H12M8.25 9.75L10.5 7.5M8.25 9.75L10.5 12m9-7.243V21.75l-3.75-1.5-3.75 1.5-3.75-1.5-3.75 1.5V4.757c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0c1.1.128 1.907 1.077 1.907 2.185z" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(11)" [class]="activeCourseActive  === 11 ? ' bg-slate-700  text-white' :'  '"> Ticket Reopened </button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(12)" [class]="activeCourseActive  === 12 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(12)" [class]="activeCourseActive  === 12 ? ' bg-slate-700  text-white' :'  '"> Firss Response Time </button>
            </li>
        </div>
 </div>

 <div class="collapse" >
    <input type="checkbox" />
    <div  class="collapse-title text-base text-slate-600 font-bold flex flex-col-2">   
        <div>Knowlegde base </div> 
        <div class="pl-2 h-1 text-gray-400" >▼
        </div> 
</div>
        <div  class="collapse-content">
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(13)" [class]="activeCourseActive  === 13 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
                    </svg>                      
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(13)" [class]="activeCourseActive  === 13 ? ' bg-slate-700  text-white' :'  '"> Articles </button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(14)" [class]="activeCourseActive  === 14 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>                                            
                </button>
                <button class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(14)" [class]="activeCourseActive  === 14 ? ' bg-slate-700  text-white' :'  '"> Searches </button>
            </li>
            
            <li><button class="py-0.5 px-2 rounded-md mr-4 w-4 "(click)="setActiveClass(15)" [class]="activeCourseActive  === 15 ? '' :'  '"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
                    </svg>                                            
                </button>
                <button  class="py-0.5 px-2 rounded-md mb-3 hover:bg-lime-600 hover:text-white" (click)="setActiveClass(15)" [class]="activeCourseActive  ===15 ? ' bg-slate-700  text-white' :'  '"> Feedback </button>
            </li>
        </div>
</div>




