<div class="w-64 border shadow-lg p-4 rounded">
    <div class="flex flex-col">
        <p class="font-semibold text-sm">Date and Time</p>
        <p class="py-2 text-sm font-light text-slate-500">Mon, Dec 31, 2018, 11:59 PM –<br>
        Tue, Jan 1, 2019, 12:19 AM EST</p>
        <a class="text-sky-500 text-sm hover:underline hover:text-sky-600 " href="#">Add to Calendar</a>
    </div>
    <br>
    <div class="flex flex-col">
        <p class="font-semibold text-sm">Location</p>
        <div class="py-2">
            <p class="text-sm font-light text-slate-500">Boston Harborwalk</p>
            <p class="text-sm font-light text-slate-500">Christopher Columbus Park</p>
            <p class="text-sm font-light text-slate-500">Boston, MA 02109</p>
            <p class="text-sm font-light text-slate-500">United States</p>
        </div>
        <a class="text-sky-500 text-sm hover:underline hover:text-sky-600 " href="#">View Map</a>
    </div>
    <br>
    <div class="flex flex-col">
        <p class="font-semibold text-sm py-2">Refund Policy</p>
        <p class="text-sm font-light text-slate-500">Refund Policy</p>
    </div>
</div>