<div class="border border-gray-300 h-32 w-6/12 rounded-md">
    <div class="flex items-center p-3">
        <span class="text-black">Using Storage <b>1466 MB</b> of 2 GB</span>
    </div>
    <div class="flex items-center p-3">
        <progress class="progress progress-primary w-48" value="100" max="100"></progress>
        <progress class="progress progress-info w-32" value="100" max="100"></progress>
        <progress class="progress progress-secondary w-20" value="20" max="20"></progress>
        <progress class="progress progress-info w-32" value="0" max="100"></progress>
    </div>
    <div class="flex items-center p-3">
        <table>
            <thead>
                <tr>
                    <th>
                        <span class=" border border-sky-500 bg-sky-500 rounded-full h-2 w-2 text-sky-500">.....</span>
                    </th>
                    <th>
                        <span class="text-gray-400 font-bold">Regular</span>
                    </th>
                    <th>
                        <span class=" border border-teal-600 bg-teal-600 rounded-full h-2 w-2 text-teal-600">.....</span>
                    </th>
                    <th>
                        <span class="text-gray-400 font-bold">System</span>                        
                    </th>
                    <th>
                        <span class=" border border-pink-500 bg-pink-500 rounded-full h-2 w-2 text-pink-500">.....</span>
                    </th>
                    <th>
                        <span class="text-gray-400 font-bold">Shared</span>
                    </th>
                    <th>
                        <span class=" border border-slate-300 bg-slate-300 rounded-full h-2 w-2 text-slate-300">.....</span>
                    </th>
                    <th>
                        <span class="text-gray-400 font-bold">Free</span>
                    </th>
                </tr>
            </thead>
        </table>
    </div>





    <!--<div class="flex items-center p-3">
        <div class="steps steps-vertical lg:steps-horizontal">
            <span class=" border border-sky-500 bg-sky-500 rounded-full h-2 w-2"></span>
            <span class="text-gray-400 font-bold">Regular</span>
            <span class=" border border-teal-600 bg-teal-600 rounded-full h-2 w-2"></span>
            <span class="text-gray-400 font-bold">System</span>
            <span class=" border border-pink-500 bg-pink-500 rounded-full h-2 w-2"></span>
            <span class="text-gray-400 font-bold">Shared</span>
            <span class=" border border-slate-300 bg-slate-300 rounded-full h-2 w-2"></span>
            <span class="text-gray-400 font-bold">Free</span>
        </div>
    </div>-->
</div>