<div class="grid h-20 border-2 mt-1 shadow-md w-full">

  <div class="flex flex-row-3 flex-col-2 ">
    <div class="w-20 h-18">
      <div class="avatar">
        <img src="https://falconreact.prium.me/static/media/crm-bar-chart.a1e2dfbe.png" />
      </div>
    </div>

    <div class="flex flex-col">
      <div class="h-7 w-20 text-blue-500 pt-3 font-medium text-sm">Welcome to</div>
      <div class="h-11 text-blue-700 pb-4 font-bold text-2xl">Falcon </div>
    </div>

    <div class="flex flex-col">
      <div class="h-7"></div>
      <div class="h-11 pl-1 text-blue-400 font-semibold text-2xl">CRM </div>
    </div>

    <div class="w-36">
      <div class="avatar">
        <img src="https://falconreact.prium.me/static/media/crm-line-chart.cee93078.png" />
      </div>
    </div>

    <div class="w-56">

    </div>

    <div class="w-36 pt-5 text-slate-500">
      Showing Data For:
    </div>
    <div class="">
      <label for="calendar">
        <li class="flex w-64 pt-1 pl-1 border-gray-800 shadow-inner mt-4 rounded h-9 border-2 mr-6 justify-start">
          <a class="pt-0 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
            </svg>
          </a>
          <p class="text-gray-900">Sep 23 - Sep 30</p>
        </li>
      </label>
      <input type="checkbox" id="calendar" checked class="peer hidden">
      <div class="flex w-full peer-checked:hidden">
        <div class="flex bg-white shadow-lg rounded-xl">
          <div class="py-6 border-r border-gray-100">
          </div>
          <div class="flex flex-col">
            <div class="flex divide-x">
              <div class="flex flex-col px-6 pt-5 pb-6 border-b border-gray-100">
                <div class="flex items-center justify-between">
                  <button class="flex items-center justify-center p-2 rounded-xl hover:bg-gray-50">
                    <svg class="w-6 h-6 text-gray-900 stroke-current" fill="none">
                      <path d="M13.25 8.75L9.75 12l3.5 3.25" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </button>
                  <div class="text-sm font-semibold">Septiembre</div>
                  <button class="flex items-center justify-center p-2 rounded-xl hover:bg-gray-50">
                    <svg class="w-6 h-6 text-gray-900 stroke-current" fill="none">
                      <path d="M10.75 8.75l3.5 3.25-3.5 3.25" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </button>
                </div>
                <div class="grid grid-cols-7 text-xs text-center text-gray-900">
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Do
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Lu
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Ma
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Mi
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Ju
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Vi
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg">
                    Sa
                  </span>

                  <span class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:bg-slate-300">
                    2
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:bg-slate-300">
                    3
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    4
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    5
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    6
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    7
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    8
                  </span>

                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    9
                  </span>

                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    10
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    11
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    12
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    13
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    14
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    15
                  </span>

                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    16
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    17
                  </span>
                  <span class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">
                    18
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    19
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    20
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    21
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    22
                  </span>

                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-white bg-blue-600 rounded-r-lg ">
                    23
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                    24
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                    25
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                    26
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                    27
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                    28
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 font-semibold text-white bg-blue-600 rounded-r-lg ">
                    30
                  </span>

                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    30
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    1
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    2
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    3
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    4
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    5
                  </span>
                  <span
                    class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                    6
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div>