<div class="w-fit p-4 border border-gray-200">
  <div>
    <h5 class="card-header">Schedule</h5>
  </div>
    <div class="flex flex-row">
      <div>
        <label class="form-label" for="scheduleStartTitle">Title</label>
      </div>
      <span class="grow"></span>
    <div>
      <button class="btn btn-ghost btn-xs rounded-full radio">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="h-5 w-5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="red"  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path></svg>
      </button>
    </div>
  </div>
  <div></div>
  <div>
    <input
      placeholder="Title"
      name="scheduleTitle0"
      type="text"
      id="scheduleStartTitle"
      class="form-control"
      value=""
    />
  </div>
  <div class="flex flex-row p-2 bg-gray-100">
    <div class="grid-cols-1 pr-4">

      <label class="form-label" for="startDate">Start Date</label>
      <div _ngcontent-qfb-c81=""><label _ngcontent-qfb-c81="" for="calendar">
        <li _ngcontent-qfb-c81="" class="flex btn btn-ghost border-black w-64 justify-start"><a
                _ngcontent-qfb-c81=""><svg _ngcontent-qfb-c81="" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                    <path _ngcontent-qfb-c81="" stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5">
                    </path>
                </svg></a>d/m/y</li>
    </label><input _ngcontent-qfb-c81="" type="checkbox" id="calendar" class="peer hidden">
    <div _ngcontent-qfb-c81="" class="flex w-full peer-checked:hidden">
        <div _ngcontent-qfb-c81="" class="flex bg-white shadow-lg rounded-xl">
            <div _ngcontent-qfb-c81="" class="py-6 border-r border-gray-100">
                <ul _ngcontent-qfb-c81="" class="flex flex-col text-xs">

                </ul>
            </div>
            <div _ngcontent-qfb-c81="" class="flex flex-col">
                <div _ngcontent-qfb-c81="" class="flex divide-x">
                    <div _ngcontent-qfb-c81="" class="flex flex-col px-6 pt-5 pb-6 border-b border-gray-100">
                        <div _ngcontent-qfb-c81="" class="flex items-center justify-between"><button
                                _ngcontent-qfb-c81=""
                                class="flex items-center justify-center p-2 rounded-xl hover:bg-gray-50"><svg
                                    _ngcontent-qfb-c81="" fill="none" class="w-6 h-6 text-gray-900 stroke-current">
                                    <path _ngcontent-qfb-c81="" d="M13.25 8.75L9.75 12l3.5 3.25" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></button>
                            <div _ngcontent-qfb-c81="" class="text-sm font-semibold">Octuber 2022</div><button
                                _ngcontent-qfb-c81=""
                                class="flex items-center justify-center p-2 rounded-xl hover:bg-gray-50"><svg
                                    _ngcontent-qfb-c81="" fill="none" class="w-6 h-6 text-gray-900 stroke-current">
                                    <path _ngcontent-qfb-c81="" d="M10.75 8.75l3.5 3.25-3.5 3.25" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></button>
                        </div>
                        <div _ngcontent-qfb-c81="" class="grid grid-cols-7 text-xs text-center text-gray-900"><span
                                _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Do
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Lu
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Ma
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Mi
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Ju
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Vi
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Sa
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:bg-slate-300">
                                1 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:bg-slate-300">
                                2 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                3 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                4 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                5 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                6 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                7 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">8</span><span
                                _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg bg-gray-50">
                                9 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 10
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 11
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 12
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 13
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 14
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 15
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 16
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 17
                            </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-white bg-blue-600 rounded-l-lg">
                                18 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                19 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                20 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none rounded-tr-lg bg-gray-50">
                                21 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none rounded-l-lg bg-gray-50">
                                22 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                23 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                24 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                25 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                26 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                                27 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 font-semibold text-white bg-blue-600 rounded-r-lg">
                                28 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                1 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                2 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                3 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                4 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                5 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                6 </span><span _ngcontent-qfb-c81=""
                                class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                                7 </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <div class="grid-cols-1">
      <label class="form-label Flex Flex-row" for="startTime">Start Time</label>
      <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>H:i</option>
        <option>12:00 AM</option>
        <option>12:15 AM</option>
        <option>12:30 AM</option>
        <option>12:45 AM</option>
        <option>1:00 AM</option>
        <option>1:15 AM</option>
        <option>1:30 AM</option>
        <option>1:45 AM</option>
        <option>2:00 AM</option>
        <option>2:15 AM</option>
        <option>2:30 AM</option>
        <option>2:45 AM</option>
        <option>3:00 AM</option>
        <option>3:15 AM</option>
        <option>3:30 AM</option>
        <option>3:45 AM</option>
        <option>4:00 AM</option>
        <option>4:15 AM</option>
        <option>4:30 AM</option>
        <option>4:45 AM</option>
        <option>5:00 AM</option>
        <option>5:15 AM</option>
        <option>5:30 AM</option>
        <option>5:45 AM</option>
        <option>6:00 AM</option>
        <option>6:15 AM</option>
        <option>6:30 AM</option>
        <option>6:45 AM</option>
        <option>7:00 AM</option>
        <option>7:15 AM</option>
        <option>7:30 AM</option>
        <option>7:45 AM</option>
        <option>8:00 AM</option>
        <option>8:15 MA</option>
        <option>8:30 AM</option>
        <option>8:45 AM</option>
        <option>9:00 AM</option>
        <option>9:15 AM</option>
        <option>9:30 AM</option>
        <option>9:45 AM</option>
        <option>10:00 AM</option>
        <option>10:15 AM</option>
        <option>10:30 AM</option>
        <option>10:45 AM</option>
        <option>11:00 AM</option>
        <option>11:15 AM</option>
        <option>11:30 AM</option>
        <option>12:00 PM</option>
        <option>12:15 PM</option>
        <option>12:30 PM</option>
        <option>1:00 PM</option>
        <option>1:15 PM</option>
        <option>1:30 PM</option>
        <option>1:45 PM</option>
        <option>2:00 PM</option>
        <option>2:15 PM</option>
        <option>2:30 PM</option>
        <option>2:45 PM</option>
        <option>3:00 PM</option>
        <option>3:15 PM</option>
        <option>3:45 PM</option>
        <option>4:00 PM</option>
        <option>4:15 PM</option>
        <option>4:30 PM</option>
        <option>4:45 PM</option>
        <option>5:00 PM</option>
        <option>5:15 PM</option>
        <option>5:30 PM</option>
        <option>5:45 PM</option>
        <option>6:00 PM</option>
        <option>6:15 PM</option>
        <option>6:45 PM</option>
        <option>7:00 PM</option>
        <option>7:15 PM</option>
        <option>7:30 PM</option>
        <option>7:45 PM</option>
        <option>8:00 PM</option>
        <option>8:15 PM</option>
        <option>8:30 PM</option>
        <option>8:45 PM</option>
        <option>9:00 PM</option>
        <option>9:15 PM</option>
        <option>9:30 PM</option>
        <option>9:45 PM</option>
        <option>10:00 PM</option>
        <option>10:15 PM</option>
        <option>10:45 PM</option>
        <option>11:00 PM</option>
        <option>11:15 PM</option>
        <option>11:45 PM</option>
      </select>



    </div>
</div>

<div class="flex flex-row p-2 bg-gray-100">
  <div class="grid-cols-1 pr-4">
    <label class="form-label" for="startDate">End Date</label>
    <div _ngcontent-qfb-c81=""><label _ngcontent-qfb-c81="" for="calendar">
      <li _ngcontent-qfb-c81="" class="flex btn btn-ghost border-black w-64 justify-start"><a
              _ngcontent-qfb-c81=""><svg _ngcontent-qfb-c81="" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                  <path _ngcontent-qfb-c81="" stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5">
                  </path>
              </svg></a>d/m/y</li>
  </label><input _ngcontent-qfb-c81="" type="checkbox" id="calendar" class="peer hidden">
  <div _ngcontent-qfb-c81="" class="flex w-full peer-checked:hidden">
      <div _ngcontent-qfb-c81="" class="flex bg-white shadow-lg rounded-xl">
          <div _ngcontent-qfb-c81="" class="py-6 border-r border-gray-100">
              <ul _ngcontent-qfb-c81="" class="flex flex-col text-xs">

              </ul>
          </div>
          <div _ngcontent-qfb-c81="" class="flex flex-col">
              <div _ngcontent-qfb-c81="" class="flex divide-x">
                  <div _ngcontent-qfb-c81="" class="flex flex-col px-6 pt-5 pb-6 border-b border-gray-100">
                      <div _ngcontent-qfb-c81="" class="flex items-center justify-between"><button
                              _ngcontent-qfb-c81=""
                              class="flex items-center justify-center p-2 rounded-xl hover:bg-gray-50"><svg
                                  _ngcontent-qfb-c81="" fill="none" class="w-6 h-6 text-gray-900 stroke-current">
                                  <path _ngcontent-qfb-c81="" d="M13.25 8.75L9.75 12l3.5 3.25" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg></button>
                          <div _ngcontent-qfb-c81="" class="text-sm font-semibold">Octuber 2022</div><button
                              _ngcontent-qfb-c81=""
                              class="flex items-center justify-center p-2 rounded-xl hover:bg-gray-50"><svg
                                  _ngcontent-qfb-c81="" fill="none" class="w-6 h-6 text-gray-900 stroke-current">
                                  <path _ngcontent-qfb-c81="" d="M10.75 8.75l3.5 3.25-3.5 3.25" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg></button>
                      </div>
                      <div _ngcontent-qfb-c81="" class="grid grid-cols-7 text-xs text-center text-gray-900"><span
                              _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Do
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Lu
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Ma
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Mi
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Ju
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Vi
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg"> Sa
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:bg-slate-300">
                              1 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:bg-slate-300">
                              2 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              3 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              4 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              5 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              6 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              7 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300">8</span><span
                              _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold rounded-lg bg-gray-50">
                              9 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 10
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 11
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 12
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 13
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 14
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 15
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 16
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 rounded-lg hover:bg-slate-300"> 17
                          </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-white bg-blue-600 rounded-l-lg">
                              18 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              19 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              20 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none rounded-tr-lg bg-gray-50">
                              21 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none rounded-l-lg bg-gray-50">
                              22 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              23 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              24 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              25 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              26 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-blue-600 rounded-none bg-gray-50">
                              27 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 font-semibold text-white bg-blue-600 rounded-r-lg">
                              28 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              1 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              2 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              3 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              4 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              5 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              6 </span><span _ngcontent-qfb-c81=""
                              class="flex items-center justify-center w-10 h-10 text-gray-700 rounded-lg hover:hover:bg-slate-300">
                              7 </span></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>

  <div class="grid-cols-1">
    <label class="form-label Flex Flex-row" for="startTime">End Time</label>
    <select class="select select-bordered w-full max-w-xs">
      <option disabled selected>H:i</option>
      <option>12:00 AM</option>
      <option>12:15 AM</option>
      <option>12:30 AM</option>
      <option>12:45 AM</option>
      <option>1:00 AM</option>
      <option>1:15 AM</option>
      <option>1:30 AM</option>
      <option>1:45 AM</option>
      <option>2:00 AM</option>
      <option>2:15 AM</option>
      <option>2:30 AM</option>
      <option>2:45 AM</option>
      <option>3:00 AM</option>
      <option>3:15 AM</option>
      <option>3:30 AM</option>
      <option>3:45 AM</option>
      <option>4:00 AM</option>
      <option>4:15 AM</option>
      <option>4:30 AM</option>
      <option>4:45 AM</option>
      <option>5:00 AM</option>
      <option>5:15 AM</option>
      <option>5:30 AM</option>
      <option>5:45 AM</option>
      <option>6:00 AM</option>
      <option>6:15 AM</option>
      <option>6:30 AM</option>
      <option>6:45 AM</option>
      <option>7:00 AM</option>
      <option>7:15 AM</option>
      <option>7:30 AM</option>
      <option>7:45 AM</option>
      <option>8:00 AM</option>
      <option>8:15 MA</option>
      <option>8:30 AM</option>
      <option>8:45 AM</option>
      <option>9:00 AM</option>
      <option>9:15 AM</option>
      <option>9:30 AM</option>
      <option>9:45 AM</option>
      <option>10:00 AM</option>
      <option>10:15 AM</option>
      <option>10:30 AM</option>
      <option>10:45 AM</option>
      <option>11:00 AM</option>
      <option>11:15 AM</option>
      <option>11:30 AM</option>
      <option>12:00 PM</option>
      <option>12:15 PM</option>
      <option>12:30 PM</option>
      <option>1:00 PM</option>
      <option>1:15 PM</option>
      <option>1:30 PM</option>
      <option>1:45 PM</option>
      <option>2:00 PM</option>
      <option>2:15 PM</option>
      <option>2:30 PM</option>
      <option>2:45 PM</option>
      <option>3:00 PM</option>
      <option>3:15 PM</option>
      <option>3:45 PM</option>
      <option>4:00 PM</option>
      <option>4:15 PM</option>
      <option>4:30 PM</option>
      <option>4:45 PM</option>
      <option>5:00 PM</option>
      <option>5:15 PM</option>
      <option>5:30 PM</option>
      <option>5:45 PM</option>
      <option>6:00 PM</option>
      <option>6:15 PM</option>
      <option>6:45 PM</option>
      <option>7:00 PM</option>
      <option>7:15 PM</option>
      <option>7:30 PM</option>
      <option>7:45 PM</option>
      <option>8:00 PM</option>
      <option>8:15 PM</option>
      <option>8:30 PM</option>
      <option>8:45 PM</option>
      <option>9:00 PM</option>
      <option>9:15 PM</option>
      <option>9:30 PM</option>
      <option>9:45 PM</option>
      <option>10:00 PM</option>
      <option>10:15 PM</option>
      <option>10:45 PM</option>
      <option>11:00 PM</option>
      <option>11:15 PM</option>
      <option>11:45 PM</option>
    </select>
  </div>
</div>

  <div class="px-2 py-2">
    <button class="btn btn-outline btn-info btn-sm">+ Add item</button>
  </div>
</div>
