<div class="w-80 p-4 border border-gray-200">
  <div>
    <h5 class="card-header">Schedule</h5>
  </div>
    <div class="flex flex-row">
      <div>
        <label class="form-label" for="scheduleStartTitle">Title</label>
      </div>
      <span class="grow"></span>
    <div>
      <button class="btn btn-ghost btn-xs rounded-full radio">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="h-5 w-5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="red"  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path></svg>
      </button>
    </div>
  </div>
  <div></div>
  <div>
    <input
      placeholder="Title"
      name="scheduleTitle0"
      type="text"
      id="scheduleStartTitle"
      class="form-control"
      value=""
    />
  </div>
  <div>
    <label class="form-label" for="ScheduleStartDate0">Start Date</label>
  </div>
  <div>
    <input
      placeholder="d/m/y"
      name="ScheduleStartDate0"
      id="ScheduleStartDate0"
      class="form-control"
      value=""
    />
  </div>
  <div>
    <label class="form-label" for="scheduleStartTime">Start Time</label>
  </div>
  <div>
    <input
      placeholder="H:i"
      name="ScheduleStartTime0"
      id="scheduleStartTime"
      class="form-control"
      value=""
    />
  </div>
  <div>
    <label class="form-label" for="scheduleEndDate">End Date</label>
  </div>
  <div>
    <input
      placeholder="d/m/y"
      name="ScheduleEndDate0"
      id="scheduleEndDate"
      class="form-control"
      value=""
    />
  </div>
  <div>
    <label class="form-label" for="scheduleEndTime">End Time</label>
  </div>
  <div>
    <input
      placeholder="H:i"
      name="ScheduleEndTime0"
      id="scheduleEndTime"
      class="form-control"
      value=""
    />
  </div>
  <div>
    <button class="btn btn-outline btn-info">+ Add item</button>
  </div>
</div>
