<div class="border border-gray-200 h-full w-3/6 rounded-md flex flex-col items-center">
  <div class="flex items-center w-full border border-gray-200 h-16">
    <span class="grow ml-3 font-sans font-semibold">Project Statistics</span>
    <select class="select select-bordered max-w-sm select-sm mr-4">
      <option class="" selected>View</option>
      <option>Emport</option>
      <hr>
      <option class="text-red-600">Remove</option>
    </select>
</div>
<div class="flex items-center p-4 w-full">
  <div class="grow">
  <span class="ml-9 text-2xl font-medium">5,432</span>
  <span class="flex text-slate-500">Total Work Hours</span>
  </div>
  <div class="mr-14 text-base">
    <span class="ml-5 font-medium">13</span>
    <span class="flex text-slate-500">Projects</span>
    </div>
    <div class="text-base">
      <span class="text-center ml-6 font-medium">7</span>
      <span class="flex text-slate-500">Ongoing</span>
      </div>
     </div>
     <br>
     <div class="grid grid-cols-4 ml-4">
      <progress class="progress progress-primary w-28 appearance-none" value="100" max="100"></progress>
      <progress class="relative right-4 progress progress-secondary w-56" value="100" max="100"></progress>
      <progress class="relative left-20 progress progress-warning w-20" value="100" max="100"></progress>
      <progress class="ml-8 progress progress-info w-20" value="100" max="100"></progress>
     </div>
     <div class="relative right-40 -mt-10 grid grid-cols-4">
     <p class="relative left-5 font-medium">25%</p>
     <p class="relative left-40 font-medium">45%</p>
     <p class="relative left-72 -ml-4 font-medium">15%</p>
     <p class="relative left-80 ml-1 font-medium">15%</p>
     </div>
     <br>
     <p class="mr-96 text-slate-500">Assignees in Sprint</p>
     <br>
     <div class="avatar-group -space-x-5 -mt-4 mr-96 ml-14">
      <div class="avatar">
        <div class="w-10 h-10">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div class="avatar">
        <div class="w-10 h-10">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div class="avatar">
        <div class="w-10 h-10">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div class="avatar">
        <div class="w-10 h-10">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div class="avatar">
        <div class="w-10 h-10">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </div>
      <div class="avatar placeholder">
        <div class="w-10 h-10 bg-neutral-focus text-neutral-content">
          <span>+99</span>
        </div>
      </div>
    </div>
    <br>
    <div class="flex items-center w-full">
      <span class="grow font-medium ml-5 -mt-4">Project</span>
      <span class="font-medium mr-5 -mt-4">Team</span>
  </div>
    <br>
    <div class="flex items-centerp-4 w-11/12 items-center bg-slate-50 h-9 rounded-lg">
    <svg class="relative left-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="M12,19a7,7,0,1,1,7-7A7.008,7.008,0,0,1,12,19Z" fill="#0e57a9" data-original="#000000"/></g></svg>
    <a class="grow ml-12 link link-hover font-medium" href="#">Organizing UI</a>
    <a class="-mt-0 text-slate-500 text-xs mr-5 link-hover" href="#">ThemeWagon</a>
    </div>
    <br>
    <div class="flex items-centerp-4 w-11/12 items-center bg-slate-50 h-9 rounded-lg">
    <svg class="relative left-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="M12,19a7,7,0,1,1,7-7A7.008,7.008,0,0,1,12,19Z" fill="#ffb700" data-original="#000000"/></g></svg>
    <a class="grow ml-12 link link-hover font-medium" href="#">Create Mobile View</a>
    <a class="-mt-0 text-slate-500 text-xs mr-5 link-hover" href="#">Mailbluster</a>
    </div>
    <br>
    <div class="flex items-centerp-4 w-11/12 items-center bg-slate-50 h-9 rounded-lg">
    <svg class="relative left-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="M12,19a7,7,0,1,1,7-7A7.008,7.008,0,0,1,12,19Z" fill="#636363" data-original="#000000"/></g></svg>
    <a class="grow ml-12 link link-hover font-medium" href="#">Create Landing Pages</a>
    <a class="-mt-0 text-slate-500 text-xs mr-5 link-hover" href="#">BlackBOx</a>
    </div>
    <br>
    <div class="flex items-centerp-4 w-11/12 items-center bg-slate-50 h-9 rounded-lg">
    <svg class="relative left-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="M12,19a7,7,0,1,1,7-7A7.008,7.008,0,0,1,12,19Z" fill="#008fff" data-original="#000000"/></g></svg>
    <a class="grow ml-12 link link-hover font-medium" href="#">Front end issues</a>
    <a class="-mt-0 text-slate-500 text-xs mr-5 link-hover" href="#">Falcon Team</a>
    </div>
    </div>

