<div class="border w-2/5 shadow-lg rounded">
    <div class="flex justify-center p-3 bg-slate-50">
        <div class="grow">
            <span>Members Activity</span>
        </div>
        <div class="dropdown dropdown-end hover:shadow-md rounded-md ">
            <label tabindex="0" class="btn btn-square btn-ghost btn-sm hover:shadow-md hover:bg-gray-100"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg></label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100  w-52 mr-1">
              <li><a class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">View</a></li>
              <li><a class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Export</a></li>
                <hr>
              <li><a class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Remove</a></li>
            </ul>
          </div>
    </div>
    <div class="flex p-2 gap-1 space-x-1">
        <div class="avatar">
            <div class="w-8 rounded-full">
              <img src="https://placeimg.com/192/192/people" />
            </div>
          </div>
        <div class="text-center">
            <span>Chandler Bing</span>
        </div>
    </div>
    <div class="grid grid-cols-3 p-0.5 gap-2">
        <div class="relative inline-block">
            <img src="https://falconreact.prium.me/static/media/activity-1.f903f1a7.png">
            
        </div>
        <div>
            <img src="https://falconreact.prium.me/static/media/activity-2.78b1c365.png">
        </div>
        <div>
            <img src="https://falconreact.prium.me/static/media/activity-3.8d52fd5e.png">
        </div>
       <div class="absolute mt-10 ml-12">
        <div class="text-center border bg-red-200 rounded-full w-10">
            <span class="text-xs text-red-600 font-bold">20%</span>
        </div>
        </div>
        <div class="absolute mt-10 ml-44">
            <div class="text-center border bg-blue-200 rounded-full w-10">
                <span class="text-xs text-blue-600 font-bold">67%</span>
            </div>
        </div>
        <div class="absolute mt-10 ml-72">
            <div class="text-center border bg-green-200 rounded-full w-10">
                <span class="text-xs text-green-600 font-bold">89%</span>
            </div>
        </div>
    </div>
    <div class="flex p-2 gap-2">
        <div class="avatar">
            <div class="w-8 rounded-full">
              <img src="https://placeimg.com/192/192/people" />
            </div>
          </div>
        <div class="text-center">
            <span>Jared Dunn</span>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-2">
        <div class="relative inline-block">
            <img src="https://falconreact.prium.me/static/media/activity-4.bacce363.png">
            
        </div>
        <div>
            <img src="https://falconreact.prium.me/static/media/activity-5.87cf7441.png">
        </div>
        <div>
            <img src="https://falconreact.prium.me/static/media/activity-6.39ec3ac4.png">
        </div>
       <div class="absolute mt-10 ml-12">
        <div class="text-center border bg-red-200 rounded-full w-10">
            <span class="text-xs text-red-600 font-bold">20%</span>
        </div>
        </div>
        <div class="absolute mt-10 ml-44">
            <div class="text-center border bg-blue-200 rounded-full w-10">
                <span class="text-xs text-blue-600 font-bold">67%</span>
            </div>
        </div>
        <div class="absolute mt-10 mx-72">
            <div class="text-center border bg-green-200 rounded-full w-10">
                <span class="text-xs text-green-600 font-bold">89%</span>
            </div>
        </div>
    </div>
    <div class="flex p-2 gap-2">
        <div class="avatar">
            <div class="w-8 rounded-full">
              <img src="https://placeimg.com/192/192/people" />
            </div>
          </div>
        <div class="text-center">
            <span>Monica Geller</span>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-2 p-0.5">
        <div class="relative inline-block">
            <img src="https://falconreact.prium.me/static/media/activity-7.4d3b4915.png">
            
        </div>
        <div>
            <img src="https://falconreact.prium.me/static/media/activity-8.8f2b9738.png">
        </div>
        <div>
            <img src="https://falconreact.prium.me/static/media/activity-9.97c6ccc5.png">
        </div>
       <div class="absolute mt-10 ml-12">
        <div class="text-center border bg-red-200 rounded-full w-10">
            <span class="text-xs text-red-600 font-bold">20%</span>
        </div>
        </div>
        <div class="absolute mt-10 ml-44">
            <div class="text-center border bg-blue-200 rounded-full w-10">
                <span class="text-xs text-blue-600 font-bold">67%</span>
            </div>
        </div>
        <div class="absolute mt-10 mx-72">
            <div class="text-center border bg-green-200 rounded-full w-10">
                <span class="text-xs text-green-600 font-bold">89%</span>
            </div>
        </div>
    </div>
    <br>
    <div class="grid bg-slate-50 p-3">
        <button class="text-sky-600 text-center text-sm font-semibold hover:text-sky-800">See all projects > </button>
    </div>
</div>
