

<div class="border w-2/5 shadow-md">
  <div class="flex bg-slate-50">
    <div class="grow p-2">
      <h6 class="text-gray-800">Shared Files</h6>
    </div>
    <div>
      <button class="btn btn-link font-sans">View All</button>
    </div>
  </div>
  <div class="flex flex-wrap p-2 gap-4 ">
    <div class="w-1/5">
      <img class="w-14 h-14" src="https://falconreact.prium.me/static/media/5.09ac6a83.jpg" />
    </div>
    <div class="group w-3/4 justify-items-start py-2">
      <p class="hover:underline font-bold cursor-pointer">  apple-smart-watch.png</p>

      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 text-slate-800 absolute ml-48 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/860/860802.png" alt="" />
      </button>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 absolute ml-56 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/2623/2623081.png" alt="" />
      </button>
      <p class="text-slate-500">Anthony Just now</p>
    </div>
    
    <div class="w-1/5">
      <img class="w-14 h-14"
        src="https://falconreact.prium.me/static/media/3.ba98a1ec.jpg" />
    </div>
    <div class="group w-3/4 justify-items-start py-2">
      <p class="hover:underline font-bold cursor-pointer">iphone.jpg</p>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 text-slate-800 absolute ml-48 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/860/860802.png" alt="" />
      </button>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 absolute ml-56 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/2623/2623081.png" alt="" />
      </button>
      <p class="text-slate-500">Anthony Yesterday at 1:30 PM</p>
    </div>
    <div class="w-1/5">
      <img class="w-14 h-14"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuyritj-Qc3Dyb4qEbrX755hOXUCtZEj42IQ&usqp=CAU" />
    </div>
    <div class="group w-3/4 justify-items-start py-2">
      <p class="hover:underline font-bold cursor-pointer">falcon V1.8.2</p>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 text-slate-800 absolute ml-48 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/860/860802.png" alt="" />
      </button>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 absolute ml-56 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/2623/2623081.png" alt="" />
      </button>
      <p class="text-slate-500">Jane 27 Sep at 10:30 PM</p>
    </div>
    <div class="w-1/5">
      <img class="w-14 h-14" src="https://falconreact.prium.me/static/media/2.2001c1c3.jpg" />
    </div>
    <div class="group w-3/4 justify-items-start py-2">
      <p class="hover:underline font-bold cursor-pointer">iMac.jpg</p>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 text-slate-800 absolute ml-48 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/860/860802.png" alt="" />
      </button>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 absolute ml-56 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/2623/2623081.png" alt="" />
      </button>
      <p class="text-slate-500">Rowen 23 Sep at 6:10 PM</p>
    </div>
    <div class="w-1/5">
      <img class="w-14 h-14" src="https://prints.ultracoloringpages.com/80fb4e09be5d499a0126ae36f0020f30.png" />
    </div>
    <div class="group w-3/4 justify-items-start py-2">
      <p class="hover:underline font-bold cursor-pointer">funtions.php</p>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 text-slate-800 absolute ml-48 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/860/860802.png" alt="" />
      </button>
      <button
        class="hidden group-hover:block btn btn-xs bg-slate-100 border-hidden hover:bg-slate-400 absolute ml-56 my-1">
        <img class="w-4" src="https://cdn-icons-png.flaticon.com/512/2623/2623081.png" alt="" />
      </button>
      <p class="text-slate-500">Jhon 1 Oct at 4:30 PN</p>
    </div>
  </div>
</div>

