<div class="stats shadow ml-5 mt-10">
  <div class="stat place-items-center">
    <div class="stat-title font-medium text-slate-900 text-lg mr-28">Orders</div>
    <div class="stat-value mr-20 text-3xl font-normal text-slate-500">15,450</div>
    <div class="pt-4 mr-28 text-sm font-medium text-gray-400">13,675</div>
    <span class="p-3 text-sm  text-blue-500 -mt-8 ml-5"> ▲ 21,8%</span>
    <hr class="w-full">
    <br>
    <div class="stat-title font-medium text-slate-900 text-lg mr-20">Gross sale</div>
    <div class="stat-value mr-16 text-3xl font-normal text-slate-500">$100.26    </div>
    <div class="pt-4 mr-28 text-sm font-medium text-gray-400">13,675</div>
    <span class="p-3 text-sm  text-red-500 -mt-8 ml-5"> ▲ 21,8%</span>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title font-medium text-slate-900 text-lg mr-28">Items sold</div>
    <div class="stat-value mr-32 text-3xl font-normal text-slate-500">1,054</div>
    <div class="pt-4 mr-36 text-sm font-medium text-gray-400">13,675</div>
    <span class="p-3 text-sm  text-orange-500 -mt-8 mr-2"> ▲ 21,8%</span>
    <hr class="w-full">
    <br>
    <div class="stat-title font-medium text-slate-900 text-lg mr-28">Shipping</div>
    <div class="stat-value mr-20 text-3xl font-normal text-slate-500">$365.53 </div>
    <div class="pt-4 mr-32 text-sm font-medium text-gray-400">13,675</div>
    <span class="p-3 text-sm  text-green-500 -mt-8 ml-5"> ▲ 21,8%</span>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title font-medium text-slate-900 text-lg mr-28">Refunds</div>
    <div class="stat-value mr-20 text-3xl font-normal text-slate-500">$145.65</div>
    <div class="pt-4 mr-32 text-sm font-medium text-gray-400">13,675</div>
    <span class="p-3 text-sm  text-green-500 -mt-8"> ▲ 21,8%</span>
    <hr class="w-full">
    <br>
    <div class="stat-title font-medium text-slate-900 text-lg mr-20">Processing</div>
    <div class="stat-value mr-28 text-3xl font-normal text-slate-500">861</div>
    <div class="pt-4 mr-28 text-sm font-medium text-gray-400">13,675</div>
    <span class="p-3 text-sm  text-blue-500 -mt-8 ml-5"> ▲ 21,8%</span>
  </div>
  </div>
