<div class="flex flex-row justify-end">
   <button class="btn btn-sm p--1 m-1 bg-cyan-500 border-cyan-500 shadow-lg shadow-cyan-500/50">Nuevo </button>
   <button class="btn btn-sm p--1 m-1 bg-cyan-500 border-cyan-500 shadow-lg shadow-cyan-500/50">Importar</button>
</div>
<div class="navbar bg-base-100">
  <div class="flex-none gap-2">
    <button class="btn btn-ghost btn-circle ">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
    </button>
    <div class="form-control btn-sm">
      <input type="text" placeholder="Buscar" class="input input-bordered" />
    </div>
    <button class="btn btn-sm bg-black">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
    </button>
    <div class="f"><button class="btn btn-sm bg-orange-500 border-orange-500 shadow-lg shadow-orange-500/50" (click)="setActiveClass(12)">Filtrar </button></div>
    <div class ="e"><button class="btn btn-sm bg-lime-600 border-lime-600 shadow-lg shadow-lime-500/50" (click)="setActiveClass(13)"> <svg class="" viewBox="0 0 24 24" [class]="activeCourseActive  === 13 ? 'block animate-spin h-5 w-5 mr-3 ... bg-green-100':' hidden' ">
    </svg>Exportar</button></div>

  </div>
</div>
<h1 class="text-2xl text-gray-500">SOFTWARE</h1>
<div class="box1">
  <input type="button" value="1-MA-Software" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(1)" [class]="activeCourseActive  === 1 ? ' bg-green-500':' ' "/>
  <input type="button" value="1-VA-Software" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(2)" [class]="activeCourseActive  === 2 ? ' bg-green-500':' ' "/>
  <input type="button" value="1-NA-Software" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(3)"[class]="activeCourseActive  === 3 ? ' bg-green-500':' ' "/>
  <div >
    <input type="button" value="3-MA-Software" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg  shadow-yellow-500/50" (click)="setActiveClass(4)" [class]="activeCourseActive  === 4 ? ' bg-green-500':' ' "/>
    <input type="button" value="2-VA-Software" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(5)" [class]="activeCourseActive  === 5 ? ' bg-green-500':' ' "/>
  </div>
</div>
<h1 class="text-2xl text-gray-500">MARKETING</h1>
<div class="box3">
  <input type="button" value="1-MA-Marketing" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(6)" [class]="activeCourseActive  === 6 ? ' bg-red-400':' ' "/>
  <input type="button" value="1-VA-Marketing" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(7)" [class]="activeCourseActive  === 7? ' bg-red-400':' ' " />
  <input type="button" value="1-NA-Marketing" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(8)" [class]="activeCourseActive  === 8 ? ' bg-red-400':' ' "/>
  <div class="box4">
    <input type="button" value="2-MA-Marketing" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(9)" [class]="activeCourseActive  === 9? ' bg-red-400':' ' "/>
    <input type="button" value="2-VA-Marketing" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(10)" [class]="activeCourseActive  === 10 ? ' bg-red-400':' ' "/>
    <input type="button" value="2-NA-Marketing" class="btn bg-yellow-500 m-5 border-yellow-500 text-black shadow-lg shadow-yellow-500/50" (click)="setActiveClass(11)" [class]="activeCourseActive  === 11 ? ' bg-red-400':' ' "/>
  </div>
</div>
