<div class=" flex flex-row border border-gray-600  w-96">
  <div class="dropdown dropdown-end">

    <div class="  flex flex-row w-96 h-5">
      <span class="label-text p-2">Most Leads</span>
      <span class="grow"></span>
      <label tabindex="0" class="btn m-1 btn-xs bg-white-100">...</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white-100 rounded-box  w-22 text-black  border border-black">
        <li><a>View</a></li>
        <li><a>Review</a></li>
        <li><a class="text-red-600">Remove</a></li>
      </ul></div>


      <div class="w-auto">
        <div class="w-0.07 h-0.07">
          <canvas baseChart
          [datasets]="doughnutChartDatasets"
          [options]="doughnutChartOptions"
          [legend]="true"
          [type]="'doughnut'">
          </canvas>
        </div>
      </div>
      <div class="divider"> </div>
      <div>
        <table class="table-compact border-collapse pt-7">
          <thead>
          </thead>
          <tbody>
            <tr class="">
              <td> <div class="flex"><img src="https://falconreact.prium.me/static/media/email.52ef21f1.svg" alt="Email" class="w-5 h-5"><span class="pl-3">Email</span></div></td>
              <td class="pl-11"> <div class="flex"><span class="pl-3">5200 vs 1052</span></div></td>
              <td class="pl-20"> <div class="flex"><span>12%</span></div></td>
            </tr>
            <tr class="">
              <td><div class="flex"><img src="https://falconreact.prium.me/static/media/social.fddc0c08.svg" alt="Social" class="w-5 h-5"><span class="pl-3">Social</span></div></td>
              <td class="pl-11"><div class="flex"><span class="pl-3">5623 vs 4929</span></div></td>
              <td class="pl-20"><div class="flex"><span>25%</span></div></td>
            </tr>
            <tr class="">
              <td><div class="flex"><img src="https://falconreact.prium.me/static/media/call.c02fd6a3.svg" alt="Call" class="w-5 h-5"><span class="pl-3">Call</span></div></td>
              <td class="pl-11"><div class="flex"><span class="pl-3">2535 vs 1486</span></div></td>
              <td  class="pl-20"><div class="flex"><span>63%</span></div></td>
            </tr>
            <tr class="">
              <td><div class="flex"><img src="https://falconreact.prium.me/static/media/other.01759be5.svg" alt="Other" class="w-5 h-5"><span class="pl-3">Other</span></div></td>
              <td class="pl-11"><div class="flex"><span class="pl-3">256 vs 189</span></div></td>
              <td  class="pl-20"><div class="flex"><span>53%</span></div></td>
            </tr>
          </tbody>

        </table>
      </div>


     <div class=" flex flex-row w-96 h-5">
      <span class="grow"></span>
      <a type=button href="" class="font-semibold text-blue-900 flex items-center">Primary ></a>
     </div>

</div>
