<div class="shadow-lg border-2 w-96 rounded-lg">
    <div class="w-90 bg-gray-50 h-12">
        <div class=" ml-3 pt-3">
            <div class="text-lg font-semibold">You may interested</div>
        </div>
    </div>

    <div>
        <div class="flex flex-col-2 m-4 ">
                <div class="w-12">
                    <div class=" rounded-t-lg bg-red-500 font-medium text-white pl-3">Feb</div>
                    <div class="rounded-b-lg border-r-2 border-b-2 border-l-2 pl-2 border-red-500 text-2xl text-gray-400 font-extrabold">21</div>
                </div>
            <div class="w-80 mt-0">
                <div class="grid grid-rows-2 ml-3  border-b-2 border-dashed pb-3">
                    <div class="-mt-1 text-blue-500 hover:underline">
                        <button class="-mt-1 text-blue-500 hover:underline font-medium">
                            Newmarket Nights
                        </button>
                    </div>
                    <div class="text-xs text-gray-500 flex flex-col-2">
                        <div>Organized by</div>
                        <div class="ml-1 hover:underline">University of Oxford </div>
                    </div>
                    <div class="text-xs text-gray-800">
                        Time: 6:00AM <br>
                        Duration: 6:00AM - 5:00PM
                    </div>
                    <div class="text-xs text-gray-500">
                        Place: Cambridge Boat Club, Cambridge
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex flex-col-2 m-4 ">
                <div class="w-12">
                    <div class=" rounded-t-lg bg-red-500 font-medium text-white pl-3">Dec</div>
                    <div class="rounded-b-lg border-r-2 border-b-2 border-l-2 pl-2 border-red-500 text-2xl text-gray-400 font-extrabold">31</div>
                </div>
            <div class="w-80 mt-0">
                <div class="grid grid-rows-2 ml-3  border-b-2 border-dashed pb-3">
                    <div class="-mt-1 text-blue-500 hover:underline">
                        <button class="-mt-1 text-blue-500 hover:underline font-medium">
                            31st Night Celebration
                        </button>
                    </div>
                    <div class="text-xs text-gray-500 flex flex-col-2">
                        <div>Organized by</div>
                        <div class="ml-1 hover:underline">Chamber Music Society</div>
                    </div>
                    <div class="text-xs text-gray-800">
                        Time: 11:00PM <br>
                        280 people interested
                    </div>
                    <div class="text-xs text-gray-500">
                        Place: Tavern on the Greend, New York
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex flex-col-2 m-4 ">
                <div class="w-12">
                    <div class=" rounded-t-lg bg-red-500 font-medium text-white pl-3">Dec</div>
                    <div class="rounded-b-lg border-r-2 border-b-2 border-l-2 pl-2 border-red-500 text-2xl text-gray-400 font-extrabold">16</div>
                </div>
            <div class="w-80 mt-0">
                <div class="grid grid-rows-2 ml-3 pb-2">
                    <div class="-mt-1 text-blue-500 hover:underline">
                        <button class="-mt-1 text-blue-500 hover:underline font-medium">
                            Folk Festival
                        </button>
                    </div>
                    <div class="text-xs text-gray-500 flex flex-col-2">
                        <div>Organized by</div>
                        <div class="ml-1 hover:underline">Harvard University</div>
                    </div>
                    <div class="text-xs text-gray-800">
                        Time: 9:00AM<br>
                        Location: Cambridge Masonic Association
                    </div>
                    <div class="text-xs text-gray-500">
                        Place: Porter Square, North Cambridge
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col-2 border-t-2 h-10 pt-2 hover:underline text-blue-600">
        <div class="pl-36">
            All events
        </div>
        <div class="pt-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>
              
        </div>
    </div>
</div>