  <div>
    <div class="">
      <div class="hero min-h-screen bg-base-50">
        <img class="login" src="https://yavirac.edu.ec/img/slider/instalacion2.png" alt="Drink" />

        <div class="hero-content flex-col lg:flex-row-reverse rounded-lg bg-black bg-opacity-75">
            <div class="">
              <div class="form-control">
                <h5 class="text-center text-white">Bienvenido</h5>
                <label class="label">
                  <span class="text-white w-80">Usuario</span>
                </label>
                <input type="text" placeholder="email" class="bg-black bg-opacity-75 border-2 border-white" id="col"/>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-white ">Contraseña</span>
                </label>
                <input type="password" placeholder="password" class="bg-black bg-opacity-75 border-2 border-white" id="col" />
                <label class="oc">
                  <a href="#" class="label-text-alt link link-hover text-white text-end"><p>Olvidaste tu contraseña?</p></a>
                </label>
                <div class="form-control mt-4 items-end" id="roe">
                  <button class="text-black bg-primary-content btn btn-square w-20 h-1s">login</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
