<div class="grid grid-cols-10 h-18 border-2 mt-1 shadow-md ">
    <div class="col-span-1 col-start-3 text-slate-400 text-2xl pt-5 pb-1" >Horarios</div>
    <div class="grid col-start-10 w-58 text-right ">
      <div class="text-sm pt-3">Pepito Perez</div>
      <div class="text-slate-400 text-xs pb-3 pt-0 pr-1">Administrador</div>
    </div>
    <div class="col-start-11 rounded-full w-11 h-11 p-0.5 m-2 border-2 text-gray-400"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-9 h-9">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
    </svg>
     </div>
  </div>

  <nav class="grid grid-cols-1">
    <div class="col-start-1 ml-20 mt-2 space-x-4 m ">
      <select class="col-start-1 ml-20 border-2 rounded-md p-1.5">
        <option class="nav">Aula</option>
        <option class="nav">Primero</option>
        <option class="nav">Segundo</option>
        <option class="nav">Tercero</option>
        <option class="nav">Cuarto</option>
      </select>
      <select class="border-2 rounded-md p-1.5 ">
        <option class="nav">Docente</option>
        <option class="nav">Jose</option>
        <option class="nav">Lola</option>
        <option class="nav">Maria</option>
        <option class="nav">Juan</option>
      </select>
      <select class="border-2 rounded-md p-1.5">
        <option class="nav">Curso</option>
        <option class="nav">Primero</option>
        <option class="nav">Segundo</option>
        <option class="nav">Tercero</option>
        <option class="nav">Cuarto</option>
      </select>
    </div>

    <div class="col-start-2 space-x-3 text-sm py-1 text-white text-right">
      <button class="border-2 border-lime-600 px-2 bg-lime-500 rounded text-center hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Solicitudes</button>
      <button class="border-2 border-amber-600 px-2 bg-amber-500 rounded text-center hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Imprimir</button>
      <button class="border-2 border-blue-600 px-2 bg-blue-500 rounded text-center hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Exportar</button>
    </div>
  </nav>


  <div class="col-start-1 text-zinc-400">
    <h1 class="">Horario de Aula 1</h1>
    <div class="grid grid-cols-6 " style="text-align: right;">
      <div class="px-1 py-2-full" id="prev-month">&#9664;</div>
      <div class="" id="month"></div>
      <p class="@apply text-xl">Agosto 2022</p>
      <div class="" id="year"></div>
      <div class="px-1 py-2-full" id="next-month">&#9654;</div>
    </div>

    <div class= "grid grid-cols-6">

      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">Hora</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">Lunes</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">Martes</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">Miercoles</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">Jueves</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">Viernes</div>

      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center"></div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">1</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">2</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">3</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">4</div>
      <div class="py-2 border-2 border-blue-50 bg-cyan-900 text-center">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">07:00-08:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply @apply text-xs rounded-md p-1.5 bg-fuchsia-500 text-white">ALGEBRA Y TRIGONOMETRIA<p>PATRICIO PACHACAMA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply @apply text-xs rounded-md p-1.5 bg-yellow-400 text-white">PROGRAMACION VISUAL<p>MARITZA TITUAÑA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 bg-yellow-400 text-white">PROGRAMACION VISUAL<p>MARITZA TITUAÑA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 bg-fuchsia-500 text-white">ALGEBRA Y TRIGONOMETRIA<p>PATRICIO PACHACAMA</p><p>3MA SOTFWARE</p></div>

      <div class="py-8 border-y-2 border-gray-400 ">08:00-09:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 bg-yellow-400 text-white">PROGRAMACION VISUAL<p>MARITZA TITUAÑA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 bg-fuchsia-500 text-white">ALGEBRA Y TRIGONOMETRIA<p>PATRICIO PACHACAMA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">09:00-10:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 bg-green-400 text-white">CALIDAD DE SOTFWARE<p>YOGLEDIS HERRERA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 bg-green-400 text-white">CALIDAD DE SOTFWARE<p>YOGLEDIS HERRERA</p><p>3MA SOTFWARE</p></div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">10:00-11:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 @apply ">11:00-12:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400  ">12:00-13:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">13:00-14:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">14:00-15:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">15:00-16:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

      <div class="py-8 border-y-2 border-gray-400 ">16:00-17:00</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">1</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">2</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">3</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">4</div>
      <div class="py-8 border-y-2 border-gray-400 @apply text-xs rounded-md p-1.5 text-white">5</div>

    </div>
  </div>
  <div class="calendar__dates" id="dates"></div>
