<div   class="flex relative rounded-md shadow-xl bg-gradient-to-r from-white  via-white to-orange-600 max-w-xs">

  <div class="stat">
    <div class="stat-figure text-secondary">
      <div>
      </div>
    </div>
    <td><span class="bg-orange-400 text-slate-600 rounded-xl p-1 text-xs ml-20 "><strong>-0.23%</strong></span> </td>
    <div class="flex flex-row">
    <div class="stat-title text-black font-semibold -mt-8">Customers</div>
    </div>
    <div class="  h-15 w-50 p-2 ">
      <div class=" stat-value font-medium pt-6 pb-4 text-orange-600 -mt-7">58.39k</div>
    </div>
  </div>
  <div>
   <h2 class="link link-hover text-sky-800 mt-24 -ml-72" href="#">See all></h2>
  </div>
</div>
