<div class="bg-slate-50 card rounded shadow-md">
  <div class="flex flex-row p-4">
    <h1 class="grow font-semibold text-xl">Followers (25)</h1>
    <input type="text" placeholder="Search" class="input input-bordered input-sm rounded mr-2"/>
    <select class="select select-sm rounded border border-blue-400">
      <option>All followers</option>
      <option>Concert Choir</option>
      <option>Clubchem</option>
      <option>Chamber Music Society</option>
      <option>Alpha Chi Omega</option>
      <option>Alpine Ski Club</option>
      <option>Career Club</option>
      <option>Musical Club</option>
      <option>Asymptones</option>
      <option>Clubcem</option>
      <option>Brain Trust</option>
      <option>Other</option>
    </select>
  </div>
  <div class="grid grid-cols-4 gap-4 gap-x-0 gap-y-1">
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ml-0.5 ">
        <a href="http://localhost:4200/layout/falcon-social-followers-perfil">
          <img src="https://falconreact.prium.me/static/media/1.f7d5569c.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Emilia Clarke</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Technext limited</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/2.20b1aba3.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Kit Harington</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Harvard Korea Society</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/3.b3477e97.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Sophie Turner</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Graduate Student Council</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center mr-0.5">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/4.482e0311.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Peter Dinklage</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Art Club, MIT</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ml-0.5 ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/5.3fdcffd4.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Nikolaj Coster</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Archery Club, MIT</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/6.73c7fce2.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Isaac Hempstead</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Asymptones</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/7.ad543a0e.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Alfie Allen</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Brain Trust</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center mr-0.5">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/8.f10cab45.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Iain Glen</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">GSAS Action Coalition</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ml-0.5 ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/9.57c5c601.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Liam Cunningham</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Caving Club, MIT</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/10.8575d5a9.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">John Bradley</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Chess Club</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/11.6f5044d2.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Rory McCann</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Chamber Music Society</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center mr-0.5">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/12.c0226f68.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Joe Dempsie</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Clubchem</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ml-0.5 ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/13.0abf9d25.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Maisie Williams</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Brain Trust</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/14.5b53bea8.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Lena Headey</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Clubchem</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/15.7b35fdd1.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Gwendoline Christie</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Technext limited</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center mr-0.5">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/16.0e36c29e.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Nathalie Emmanuel</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Asymptones</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ml-0.5 ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/17.b29fc993.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Natalie Dormer</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Musical Club</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/18.6357c0bb.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Carice Houten</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Concert Choir</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/19.2d352fca.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Hannah Murray</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Career Club</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center mr-0.5">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/20.305ece52.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Rose Leslie</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Musical Club</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ml-0.5 ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/21.11067ac8.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Rory McCann</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Alpine Ski Club</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/22.0d3d94d0.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Diana Rigg</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Clubchem</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center ">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/23.fbe1dd6f.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Michelle Fairley</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Alpha Chi Omega</a>
        </p>
      </div>
    </div>
    <div class="">
      <div class="bg-white p-3 h-100 flex flex-col items-center mr-0.5">
        <a href="">
          <img src="https://falconreact.prium.me/static/media/24.6c64151a.jpg" class="mb-3 shadow-sm rounded-full img-thumbnail w-20 h-20">
        </a>
        <h6 class="mb-1">
          <a class="text-blue-500 font-semibold link link-hover text-sm" href="">Gemma Whelan</a>
        </h6><p class="mb-1">
          <a class="text-gray-500 link link-hover text-xs" href="/social/followers#!">Chamber Music Society</a>
        </p>
      </div>
    </div>
  </div>
</div>
